<div class="sales-inner sales-inner-box-main-box">
    <div class="option">
        <span>Add your account details to credit</span>
        <form [formGroup]='bankForm'>
            <div class="inner-radio-box">
                <!-- <form> -->
                <p><input type="radio" name="radio2" id="test3" (click)="bankSelect()"> <label for="test3">Bank
                        account</label>
                </p>
                <p><input type="radio" name="radio2" id="test4" (click)="cardSeleced()"> <label for="test4">Bank
                        Card</label>
                </p>
                <!-- </form> -->
            </div>
            <div [hidden]="!isBankSelected">
                <input type="text" value="test3" autocomplete="off" name="test3" placeholder="Bank Name"
                    class="mb-2 text-left px-3 py-2 font-weight-bold" formControlName="bankName"
                    [ngClass]="{ 'is-invalid': f.bankName.touched && f.bankName.errors }">
                <div class="col-md-2" *ngIf=" f.bankName.touched && f.bankName.errors" class="invalid-feedback">
                    <div *ngIf="f.bankName.errors.required">Name is required</div>
                    <div *ngIf="f.bankName.errors.minlength">Name must be at least 2 characters</div>
                    <div *ngIf="f.bankName.errors.pattern">Please enter only alphabates</div>
                </div>
            </div>
            <div [hidden]="!isBankSelected">
                <input type="text" autocomplete="off" value="test3" name="test3" placeholder="Account Number"
                class="mb-2 text-left px-3 py-2 font-weight-bold" minlength="16" maxlength="16"
                (input)="addNumber($event, bankForm.value)" id="accountNumber" formControlName="accountNumber"
                [ngClass]="{ 'is-invalid': f.accountNumber.touched && f.accountNumber.errors }">
                <div id="message2" class="w-100"></div>
                <div *ngIf="f.accountNumber.touched && f.accountNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.accountNumber.errors.required">Account Number is required</div>
                    <div *ngIf="f.accountNumber.errors.minlength">Account Number must be only 16 digits
                    </div>
                    <div *ngIf="f.accountNumber.errors.pattern">Enter only numbers
                    </div>
                </div>
            </div>
            <div [hidden]="!isCardSelected">
                <input type="text" value="test4" name="test4" placeholder="Card Number" minlength="16" maxlength="16"
                    class="text-left px-3 py-2 font-weight-bold" (input)="enterCard($event)"
                    formControlName="cardNumber"
                    [ngClass]="{ 'is-invalid': f.cardNumber.touched && f.cardNumber.errors }">
                <div *ngIf="f.cardNumber.touched && f.cardNumber.errors" class="invalid-feedback text-white">
                    <div *ngIf="f.cardNumber.errors.required">Account Number is required</div>
                    <div *ngIf="f.cardNumber.errors.minlength">Account Number must be only 16 digits
                    </div>
                    <div *ngIf="f.cardNumber.errors.maxlength">Account Number must be only 16 digits
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>