<div class="sales-inner sales-inner-box-main-box">
    <div class="option">
        <span>Add your account details to credit</span>
        <div class="inner-radio-box">
            <div>
                <p><input type="radio" name="radio2" id="test3" checked> <label for="test3">Bank account</label>
                </p>
                <p><input type="radio" name="radio2" id="test4"> <label for="test4">Bank Card</label>
                </p>
            </div>
        </div>
        <input type="text" value="" name="" placeholder="Bank Name" class="mb-2 text-left px-3 py-2 font-weight-bold">
        <input type="text" value="" name="" placeholder="Account Number" class="mb-2 text-left px-3 py-2 font-weight-bold">
        <input type="text" value="" name="" placeholder="Card Number" class="text-left px-3 py-2 font-weight-bold">
    </div>
</div>