<div class="header-content">
    <div class="navigation_menu">
        <a (click)="getHeader('/menu')"><img src="assets/images/fireworks.png" alt="menu logo"></a>
    </div>
    <div class="andco-logo">
        <img src="assets/images/andco-logo1.png" alt="andco logo">
        <div class="hello-text">
            <h2 class="tooltip-class" title="{{userName}}" *ngIf="currentUrl">
                <span *ngIf="currentUrl != '/menu'"> Hello {{userName}}</span>
            </h2>
        </div>
    </div>
</div>