.header-content {
    padding: 40px 30px 20px;
    display: table;
    width: 100%;
    position: absolute;
    z-index: 11;
}
.navigation_menu {
    float: left;
    max-width: 80px;
    margin-right: 20px;
    z-index: 1;
    position: relative;
}
.andco-logo {
    padding-right: 100px;
    float: left;
    text-align: center;
    width: calc( 100% - 100px);
    position: relative;
}
.andco-logo img{
    margin-bottom: 40px;
}
/* hello text css start */
.hello-text {
    color: #fff;
}
.hello-text h2 {
    font-family: 'Manjari', sans-serif !important;
    line-height: normal;
    font-size: 40px;
    position: relative;
    max-width: 600px;
    margin: auto;
    cursor: pointer;
}
.hello-text h2 span{
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* hello text css end */

/* tooltip design start */

.tooltip-class:hover:after {
    content: attr(tooltip-data);
    background: rgba(157, 55, 66, 0.9);
    border-radius: 5px;
    bottom: 110%;
    color: #fff;
    padding: 10px 15px;
    position: absolute;
    z-index: 98;
    font-size: 13px;
}
.menu-main .tooltip-class:hover:after {
    background: rgba(185, 88, 217, 0.57);
}
.menu-main .tooltip-class:hover:before {
    border-color: rgba(185, 88, 217, 0.57) transparent;
    color: #000;
}
/* tooltip design end */


@media(max-width: 1366px){

}
@media(max-width: 1199px){
    .header-content{
        padding:20px 30px;
    }
    .andco-logo img {
        margin-bottom: 30px;
    }
    .andco-logo {
        margin: 10px 0px;
    }
    .andco-logo img {
        height: 60px;
    }
    .navigation_menu {
        max-width: 70px;
    }
    .navigation_menu a img {
        height: 60px;
    }
}
@media(max-width: 991px){
    .andco-logo{
        margin: 0;
        padding-right: 50px;
    }
}
@media(max-width: 767px){
    .andco-logo img, .navigation_menu a img  {
        height: 50px;
    }
}
@media(max-width: 575px){
    .navigation_menu a img {
        height: 40px;
    }
    .hello-text h2{
        font-size: 30px;
    }
}
@media(max-width:480px){
    .andco-logo{
        padding-right: 0;
    }
    .navigation_menu{
        margin-right: 10px;
    }
}
@media(max-width: 400px){
    .header-content{
        padding:10px;
    }
    .navigation_menu a img, .andco-logo img {
        height: 30px;
    }
    .andco-logo img {
        margin-bottom: 20px;
    }
    .hello-text h2{
        font-size: 20px;
    }
}