<div class="header-content" id="navigation-logo" *ngIf="!isPrint">
    <div class="navigation_menu" *ngIf="displayLogo">
        <a (click)="getHeader('/menu')"><img [src]="imgUrl" [ngStyle]="setLogo()" alt="menu logo"></a>
    </div>
    <div class="andco-logo">
        <img src="assets/images/andco_logo.png" alt="andco logo">
        <div class="hello-text" [style.color]="getHeaderColor()">
            <h2 tooltipClass="my-custom-class" ngbTooltip="{{userName}}" *ngIf="isDisplayMenu">
                <span *ngIf="isDisplayMenu"> Hello {{userName}}</span>
            </h2>
        </div>
    </div>
</div>