.single{
    background-color: royalblue;
    padding: 10px;
    border: 1px solid;

}
.radial-menu{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0px;
    width: 600px;
    margin: auto;
}