<div class="d-inline-block w-100">
    <button class="btn add-more" (click)="addMoreItems()">add more</button>
</div>
<div class="cart-main-box">
    <div class="cart-total">
        <span>Total Items Price</span>
        <span>N 2000</span>
    </div>
    <div class="cart">
        <div class="item-name">
            <p class="font-weight-bold">Item Name</p>
        </div>
        <div class="quantity">
            <p class="font-weight-bold">Quantity</p>
        </div>
        <div class="item-price">
            <p class="font-weight-bold">Item Price</p>
        </div>
    </div>
    <div class="cart">
        <div class="item-name">
            <p>Item 1</p>
        </div>
        <div class="quantity">
            <p>3</p>
        </div>
        <div class="item-price">
            <p>N 900</p>
        </div>
    </div>
    <div class="cart">
        <div class="item-name">
            <p>Item 1</p>
        </div>
        <div class="quantity">
            <p>3</p>
        </div>
        <div class="item-price">
            <p>N 900</p>
        </div>
    </div>
    <div class="cart">
        <div class="item-name">
            <p>Item 1</p>
        </div>
        <div class="quantity">
            <p>3</p>
        </div>
        <div class="item-price">
            <p>N 900</p>
        </div>
    </div>
    <div class="cart">
        <div class="item-name">
            <p>Item 1</p>
        </div>
        <div class="quantity">
            <p>3</p>
        </div>
        <div class="item-price">
            <p>N 900</p>
        </div>
    </div>
    <div class="cart">
        <div class="item-name">
            <p>Item 1</p>
        </div>
        <div class="quantity">
            <p>3</p>
        </div>
        <div class="item-price">
            <p>N 900</p>
        </div>
    </div>
    <div class="cart">
        <div class="item-name">
            <p>Item 1</p>
        </div>
        <div class="quantity">
            <p>3</p>
        </div>
        <div class="item-price">
            <p>N 900</p>
        </div>
    </div>
    <div class="cart">
        <div class="item-name">
            <p>Item 1</p>
        </div>
        <div class="quantity">
            <p>3</p>
        </div>
        <div class="item-price">
            <p>N 900</p>
        </div>
    </div>
    <div class="gift-donation">
        <span>Gift Donation</span>
        <span>N 500</span>
    </div>
</div>
<div class="final-payment-price">
    <span>Total Amount</span>
    <span>N 2500</span>
</div>