<div class="d-inline-block w-100">
    <button class="btn add-more mb-0" (click)="addMoreItems()">add more</button>
</div>
<div class="cart-main-box">
    <div class="table-responsive scroll-div">
        <table class="table">
            <thead>
                <tr class="table-heading-color">
                    <th class="item-name">Item Name</th>
                    <th class="quantity">Quantity</th>
                    <th class="item-price">Item Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of finalData">
                    <td class="item-name">{{item.itemName}}</td>
                    <td class="quantity">{{item.quantity}}</td>
                    <td class="item-price">{{(item.itemPrice * item.quantity )| currency:"&#x20A6;"}}</td>
                </tr>
                <tr class="text-color">
                    <td colspan="2">Total Items Price</td>
                    <td class="text-right">{{displayTotal | currency:"&#x20A6;"}}</td>
                </tr>
                <tr class="text-color">
                    <td colspan="2">Gift Donation</td>
                    <td class="text-right">{{totalDonation | currency:"&#x20A6;"}}</td>
                </tr>
                <tr class="final-payment-price">
                    <td colspan="2">Total Amount</td>
                    <td class="text-right">{{finalTotalDisplay | currency:"&#x20A6;"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="buttons-pay-back mt-3">
    <button class="btn" (click)="backToDonation()">Back</button>
    <button class="btn" (click)="addAddress()">Pay Now</button>
</div>