.cart-main-box {
    max-height: 350px;
    overflow: auto;
    padding-right: 5px;
}

.cart-main-box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px transparent;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.3);
}

.cart-main-box::-webkit-scrollbar {
    height: 3px;
    width: 3px;
    padding-right: 3px;
    background-color: transparent;
}

.cart-main-box::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 3px transparent;
    background-color: #ffffff;
}

.quantity {
    text-align: center;
}

.item-price {
    text-align: right;
}

.cart-total,
.gift-donation {
    color: var(--total-title-background-color);
    font-weight: bold;
    width: 100%;
    display: inline-block;
    padding: 10px 5px 6px;
}

.border-bottom-custom {
    border-bottom: 1px solid var(--total-title-background-color);
}

.final-payment-price {
    color: white;
    text-shadow: 0px 0px 1px #dcddcd;
    background-color: var(--total-title-background-color);
    padding: 10px 5px 6px;
}

.final-payment-price span {
    font-weight: bold;
}

.cart-total span,
.gift-donation span {
    font-weight: bold;
    font-size: 22px;
}

.scroll-div {
    min-width: 575px;
}

.table-heading-color,
tr.text-color {
    color: var(--group-box-h4-group);
    font-weight: bold;
}

tbody {
    color: #ffffff;
}

@media(max-width:1600px) {
    .cart-main-box {
        max-height: 240px;
    }
    .cart-total span,
    .gift-donation span {
        font-size: 20px;
    }
}

@media(max-width:1366px) {
    .cart-main-box {
        max-height: 180px
    }
    .cart-total span,
    .gift-donation span {
        font-size: 18px;
    }
}

@media(max-width:1199px) {
    .cart-main-box {
        max-height: 100%;
    }
    .cart-total span,
    .gift-donation span {
        font-size: 16px;
    }
}

@media(max-width:575px) {
    .final-payment-price {
        margin-top: 10px;
    }
    .cart-total span,
    .gift-donation span {
        font-size: 14px;
    }
}