<app-loader *ngIf="isLoad"></app-loader>
<div class="main-div">
    <div class="event-profile">
        <div class="profile-photo">
            <img *ngIf="profilePhoto" id="profileImage" src="{{path}}{{displayPhoto}}">
            <!-- <img src="../../../assets/images/profile_img.png" alt="profile photo"> -->
            <img [src]="croppedImage" id="imageFilter" onerror="this.src='/assets/images/profile_img.png'">
        </div>
        <div class="event-camera">
            <button class="btn p-0" data-toggle="modal" (click)="opoenNewModel()">
                <label data-container="body" tooltipClass="my-custom-class" ngbTooltip="Change Event Profile Photo">
                    <img src="assets/images/camera.png" class="upload_img_icon" alt="camera icon">
                </label>
            </button>
        </div>
    </div>
</div>

<!-- image upload modal start -->
<div class="modal fade" id="imageUpload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header pb-0">
                <h5 class="modal-title">Image Upload</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body border-top m-auto">
                <div class="image-cropper-box">
                    <image-cropper class="custom-class" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="3 / 3" [onlyScaleDown]="true" [roundCropper]="true" [canvasRotation]="canvasRotation"
                        [transform]="transform" [alignImage]="'left'" [style.display]="showCropper ? null : 'none'" format="png" (imageCropped)="imageCropped($event)" [imageURL]="currentImgUrl" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady($event)"
                        (loadImageFailed)="loadImageFailed()">
                    </image-cropper>
                </div>
            </div>
            <div class="modal-footer">
                <div class="choose_image w-100 text-center">
                    <label for="upload_profile">Choose Image</label>
                    <input type="file" (change)="fileChangeEvent($event)" accept="image/png, image/png, image/jpg , image/jpeg" id="upload_profile">
                </div>
                <div class="save text-right">
                    <button class="btn" (click)="saveImage()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- image upload modal end -->