<div class="guest-activity-single-slide">
    <div class="guest-activity-slider mt-3">
        <div *ngFor="let activity of displayActivity">
            <h2 class="text-white font-weight-bold my-2">{{activity.activityName}}</h2>
        </div>
    </div>
    <!-- <button (click)="nextSlide()">next</button> -->
    <div class="guest-activity-group">
        <div class="radio" *ngFor="let group of displayGroup; let i = index">
            <input id="{{i}}" name="radio" type="radio" value="{{i}}" (change)="changeGroup($event)">
            <label for="{{i}}" class="radio-label">{{group.groupName}}</label>
        </div>
    </div>
    <div class="guest-activity-item-tab mt-4">
        <ul class="nav nav-tabs">
            <li class="nav-item" *ngFor="let item of gender;let i  = index;">
                <a class="nav-link" (click)="changeTab(item)" data-toggle="tab"
                    [class.active]="selectedwallet===i">{{item}}</a>
            </li>
        </ul>
        <div class="tab-content">
            <ul *ngIf="selectedwallet == 0">
                <li class="guest-item" *ngFor="let item of itemList; let i =index">
                    <div class="guest-item-name">
                        <p>{{item.itemName}}</p>
                    </div>
                    <div class="guest-add-items">
                        <h4>{{item.itemPrice  | currency:"&#x20A6;"}} <span>x</span>
                            <input type="number" oninput="validity.valid||(value='');"
                                onkeydown="return event.keyCode !== 69" min="0" min="1" [(ngModel)]="item.quantity"
                                (change)="maleTotal($event , item , i)">
                            <span>=</span> {{item.itemPrice * item.quantity}}
                        </h4>
                    </div>
                </li>
            </ul>
            <ul *ngIf="selectedwallet === 1">
                <li class="guest-item" *ngFor="let item of itemList; let i =index">
                    <div class="guest-item-name">
                        <p>{{item.itemName}}</p>
                    </div>
                    <div class="guest-add-items">
                        <h4>{{item.itemPrice  | currency:"&#x20A6;"}} <span>x</span>
                            <input type="number" oninput="validity.valid||(value='');"
                                onkeydown="return event.keyCode !== 69" min="0" min="1" [(ngModel)]="item.quantity"
                                (change)="femaleTotal($event , item , i)"> <span>=</span>
                            {{item.itemPrice * item.quantity}}
                        </h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="buttons-group">
        <button class="btn saved">Saved</button>
        <button class="btn total" (click)="addTocart()">Total</button>
    </div>
</div>