<div class="guest-activity-single-slide">
        <div class="guest-activity-slider mt-3">
            <div>
                <h2 class="text-white font-weight-bold my-2">Engagement</h2>
            </div>
            <h2 class="text-white font-weight-bold my-2">Wedding</h2>
            <h2 class="text-white font-weight-bold my-2">Birthday</h2>
        </div>
        <div class="guest-activity-group">
            <div class="radio">
                <input id="radio-1" name="radio" type="radio" checked>
                <label for="radio-1" class="radio-label">Family</label>
            </div>

            <div class="radio">
                <input id="radio-2" name="radio" type="radio">
                <label for="radio-2" class="radio-label">Friend</label>
            </div>

            <div class="radio">
                <input id="radio-3" name="radio" type="radio">
                <label for="radio-3" class="radio-label">Social Group</label>
            </div>
        </div>
        <div class="guest-activity-item-tab mt-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#male">Male</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#female">Female</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="male" class="tab-pane active">
                    <ul>
                        <li class="guest-item">
                            <div class="guest-item-name">
                                <p>Gele</p>
                            </div>
                            <div class="guest-add-items">
                                <h4>3000 <span>x</span> <input type="number" placeholder="0"> <span>=</span> 0</h4>
                            </div>
                        </li>
                        <li class="guest-item">
                            <div class="guest-item-name">
                                <p>Gele</p>
                            </div>
                            <div class="guest-add-items">
                                <h4>3000 <span>x</span> <input type="number" placeholder="0"> <span>=</span> 0</h4>
                            </div>
                        </li>
                        <li class="guest-item">
                            <div class="guest-item-name">
                                <p>Gele</p>
                            </div>
                            <div class="guest-add-items">
                                <h4>3000 <span>x</span> <input type="number" placeholder="0"> <span>=</span> 0</h4>
                            </div>
                        </li>
                        <li class="guest-item">
                            <div class="guest-item-name">
                                <p>Gele</p>
                            </div>
                            <div class="guest-add-items">
                                <h4>3000 <span>x</span> <input type="number" placeholder="0"> <span>=</span> 0</h4>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="female" class="tab-pane fade">
                    <ul>
                        <li class="guest-item">
                            <div class="guest-item-name">
                                <p>Gele</p>
                            </div>
                            <div class="guest-add-items">
                                <h4>3000 <span>x</span> <input type="number" placeholder="0"> <span>=</span> 0</h4>
                            </div>
                        </li>
                        <li class="guest-item">
                            <div class="guest-item-name">
                                <p>Gele</p>
                            </div>
                            <div class="guest-add-items">
                                <h4>3000 <span>x</span> <input type="number" placeholder="0"> <span>=</span> 0</h4>
                            </div>
                        </li>
                        <li class="guest-item">
                            <div class="guest-item-name">
                                <p>Gele</p>
                            </div>
                            <div class="guest-add-items">
                                <h4>3000 <span>x</span> <input type="number" placeholder="0"> <span>=</span> 0</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="buttons-group">
            <button class="btn saved">Saved</button>
            <button class="btn total">Total</button>
        </div>
</div>