<div class="event-menu-slider">
    <div class="single-slide">
        <div class="single-inner-slide">
            <p>activity</p>
        </div>
    </div>
    <div class="single-slide">
        <div class="single-inner-slide">
            <p>profile photo</p>
        </div>
    </div>
    <div class="single-slide">
        <div class="single-inner-slide">
            <p>collected</p>
        </div>
    </div>
    <div class="single-slide">
        <div class="single-inner-slide">
            <p>link</p>
        </div>
    </div>
    <div class="single-slide">
        <div class="single-inner-slide">
            <p>invited guest</p>
        </div>
    </div>
    <div class="single-slide">
        <div class="single-inner-slide">
            <p>edit event</p>
        </div>
    </div>
</div>