<div class="main-box">
    <div id="circularMenu" class="circular-menu">
        <a class="floating-btn">a</a>
        <menu class="items-wrapper">
            <a class="menu-item" (click)="allActivities()">activities</a>
            <a class="menu-item" [ngClass]="{'disabledLink' : isDisable?true:''}" (click)="totalOfItems()">total</a>
            <a class="menu-item" [ngClass]="{'disabledLink' : isDisable?true:''}" (click)="donationOfEvent()"
                id="donation">gift-donation</a>
            <!-- <a class="menu-item" (click)="displayMyEvent('/myevent')" [hidden]="!isMenu">myEvent</a> -->
            <a class="menu-item" (click)="logout()" [hidden]="isMenu">exit</a>
        </menu>
    </div>
</div>