<div class="main-box">
    <div id="circularMenu" class="circular-menu">
        <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
           a
        </a>
        <menu class="items-wrapper">
            <a href="#" class="menu-item">activities</a>
            <a href="#" class="menu-item">total</a>
            <a href="#" class="menu-item">guest</a>
            <a href="#" class="menu-item">gift-donation</a>
        </menu>
    </div>
</div>