<div class="main-box">
    <div id="circularMenu" class="circular-menu">
        <a class="floating-btn">a</a>
        <menu class="items-wrapper">
            <a class="menu-item" (click)="allActivities()">activities</a>
            <a class="menu-item" (click)="totalOfItems()" [hidden]="isClose">total</a>
            <a class="menu-item" (click)="donationOfEvent()" [hidden]="isClose">gift-donation</a>
            <a class="menu-item" (click)="displayMyEvent()" [hidden]="!isMenu == true">myEvent</a>
            <a class="menu-item" (click)="logout()" [hidden]="isMenu">exit</a>
        </menu>
    </div>
</div>