<div class="thank-you">
    <div class="guest-header text-center">
        <div class="andco-logo">
            <img src="assets/images/andco_logo.png" alt="andco logo">
        </div>
        <div class="guest-profile">
            <img src="../../../assets/images/t-profile.png" alt="profile photo">
        </div>
        <h3>#AyoKunbi</h3>
        <h3>Ayoade and Kunbi’s wedding</h3>
    </div>
    <div>
        <p class="thank-you-message">Thank you for stopping by.
            We appreciate itThank you for stopping by.
            We appreciate itThank you for stopping by.
            We appreciate itThank you for stopping by.</p>
        <button class="btn buy">Buy our aso ebi</button>
    </div>
</div>