<div class="thank-you" [ngStyle]="{'background-image': 'url(' + eventTheme + ')'}">
    <div class="guest-header text-center" *ngIf="eventDetails">
        <div class="andco-logo">
            <img src="assets/images/andco_logo.png" alt="andco logo">
        </div>
        <div class="guest-profile">
            <img *ngIf="eventDetails.profilePhoto" src="{{path}}{{eventDetails.profilePhoto}}" alt="">
        </div>
        <h3>#{{eventDetails.hashTag}}</h3>
        <h3>{{eventDetails.eventTitle}}</h3>
    </div>
    <div>
        <p class="thank-you-message" *ngIf="eventDetails && eventDetails.welcomeMessage">{{eventDetails.welcomeMessage}}
        </p>
        <button class="btn buy" (click)="displayGuest()">Buy our aso ebi</button>
        <!-- <button class="btn buy" *ngIf="isJoin == false" (click)="joinEvent(eventDetails._id)">Join Event</button> -->
    </div>
</div>