<div class="thank-you">
    <div class="andco-logo">
        <img src="assets/images/andco_logo.png" alt="andco logo">
    </div>
    <div class="guest-header text-center">
        <div class="guest-profile">
            <img src="../../../assets/images/t-profile.png" alt="profile photo">
        </div>
        <h3 class="my-3">#AyoKunbi</h3>
        <h3 class="my-3">Ayoade and Kunbi’s wedding</h3>
    </div>
    <p class="thank-you-message">Thank you for stopping by.
        We appreciate itThank you for stopping by.
        We appreciate itThank you for stopping by.
        We appreciate itThank you for stopping by.
        We appreciate itThank you for stopping by.
        We appreciate itThank you for stopping by.
        We appreciate itThank you for stopping by.
        We appreciate itThank you for stopping by.
        We appreciate itThank you for stopping by.
        We appreciate itThank you for stopping by.
        We appreciate itThank you for stopping by.
        We appreciate itThank you for stopping by.
        We appreciate itThank you for stopping by.
        We appreciate it.</p>
    <button class="btn buy">Buy our aso ebi</button>
</div>