<section class="sales-pricing-main">
    <app-loader *ngIf="isLoad" id="loader"></app-loader>
    <div class="page-content">
        <div class="bg-box-set-price m-auto">
            <h3 class="title font-weight-bold">Add Bank Account</h3>
            <div class="add-bank-account m-4">
                <div class="bank-list">
                    <div class="plus float-left">
                        <a data-toggle="modal" data-target="#exampleModalCenter"><img src="../../../assets/images/remove.png" alt="plus icon"></a>
                    </div>
                    <div class="slider-box">
                        <div class="arrow-class">
                            <a id="prevarrow">
                                <div class="arrow-left"></div>
                            </a>
                            <a id="nextarrow">
                                <div class="arrow-right"></div>
                            </a>
                        </div>
                        <h5 class="font-weight-bold pl-5">Bank accounts</h5>
                        <div class="bank-slider">
                            <div class="single-slide">
                                <input id="first-radio" type="radio">
                                <label class="w-100 mb-0" for="first-radio">
                                <p><label>Bank Name : </label> SBI</p>
                                <p><label>Account Number : </label> 12345678910101020</p>
                                </label>
                            </div>
                            <div class="single-slide">
                                <input id="first-radio1" type="radio">
                                <label class="w-100 mb-0" for="first-radio1">
                                <p><label>Bank Name : </label> SBI</p>
                                <p><label>Account Number : </label> 12345678910101020</p>
                                </label>
                            </div>
                            <div class="single-slide">
                                <input id="first-radio2" type="radio">
                                <label class="w-100 mb-0" for="first-radio2">
                                <p><label>Bank Name : </label> SBI</p>
                                <p><label>Account Number : </label> 12345678910101020</p>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-bank-account m-4 mt-5">
                <div class="bank-list">
                    <div class="plus float-left">
                        <a data-toggle="modal" data-target="#exampleModalCenter"><img src="../../../assets/images/remove.png" alt="plus icon"></a>
                    </div>
                    <div class="slider-box">
                        <div class="arrow-class">
                            <a id="prevarrow1">
                                <div class="arrow-left"></div>
                            </a>
                            <a id="nextarrow1">
                                <div class="arrow-right"></div>
                            </a>
                        </div>
                        <h5 class="font-weight-bold pl-5">Cards</h5>
                        <div class="card-slider">
                            <div class="single-slide">
                                <input id="first-radio" type="radio">
                                <label class="w-100 mb-0" for="first-radio">
                                <p><label>Card Number : </label> 12345678910101020</p>
                                </label>
                            </div>
                            <div class="single-slide">
                                <input id="first-radio1" type="radio">
                                <label class="w-100 mb-0" for="first-radio1">
                                <p><label>Card Number : </label> 12345678910101020</p>
                                </label>
                            </div>
                            <div class="single-slide">
                                <input id="first-radio2" type="radio">
                                <label class="w-100 mb-0" for="first-radio2">
                                <p><label>Card Number : </label> 12345678910101020</p>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade add-bank-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Bank Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" placeholder="Bank name">
                <input type="text" placeholder="Account number">
                <input type="text" placeholder="Card number">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn">Add</button>
            </div>
        </div>
    </div>
</div>