<div class="add-event">
    <button class="btn">+</button>
</div>
<div class="event-slider">
    <div class="event-single-slide">
        <div class="event-name">
            <p>Engagement</p>
        </div>
    </div>
    <div class="event-single-slide">
        <div class="event-name">
            <p>Wedding</p>
        </div>
    </div>
    <div class="event-single-slide">
        <div class="event-name">
            <p>marriage</p>
        </div>
    </div>
    <div class="event-single-slide">
        <div class="event-name">
            <p>Engagement</p>
        </div>
    </div>
    <div class="event-single-slide">
        <div class="event-name">
            <p>Engagement</p>
        </div>
    </div>
</div>
