.sales-pricing-main{
    background-image: url('../../../assets/images/salesPrice1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hello-text h2 span{
    color: #434040;
    font-weight: bold;
}
.hashtag {
    position: absolute;
    top: 22%;
}
.hashtag h2{
    font-family: 'Advent Pro', 'sans-sarif';
    color: #686868;
    font-weight: bold;
}
.single-main-box h3{
    color: #A6B138;

    font-weight: bold;
}
.single-main-box textarea {
    border: 2px solid #a5b138;
    border-radius: 10px;
    padding: 20px 60px;
    text-align: center;
    font-weight: bold;
    color: #A1A1A1;
    font-size: 20px;
    background-color: transparent;
}
.single-main-box textarea::placeholder{
    color: silver;
}
.single-main-box textarea:focus{
    outline: none;
    box-shadow: none;
}
.sales-button {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}
/* option a start */
/* .sales-inner span{
    color: #A6B138;
    text-align: center;
    font-size: 30px;
}
.sales-inner p{
    color: #bdbdbd;
    font-weight: 600;
    text-align: left;
    margin: auto;
    width: 60%;
    font-size: 22px;
} */
.sales-inner input{
    text-align: center;
    color: #5D6C20;
    width: 60%;
    border: none;
    height: 50px;
    font-size: 22px;
}
.sales-inner input::placeholder{
    color: #5D6C20;
}
.sales-inner input:focus{
    outline: none;
    box-shadow: none;
}
.main-box-for-slider{
    width: 800px;
    margin: auto;
    text-align: center;
    position: relative;
}

.group-box{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.inner-box-group{
    background-color: rgba(166, 177, 56, 0.19);
    border-radius: 7px;
    padding: 10px
}
.inner-box-group ul{
    padding: 0;
    margin-bottom: 0;
}
.inner-box-group ul li{
    list-style: none;
    color: #5D6C20;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #fff;
    padding: 5px 10px;
    cursor: pointer;
}

.inner-box-group ul li:hover {
    background-color: #ffffff94;
    color: #d8d8d8;
}
.group-box h6{
    color: #686868;
    font-size: 20px;
}
button.btn.add-btn {
    background-color: #A6B138;
    color: #fff;
    margin-top: 10px;
}
.sales-inner.sales-inner-box-main-box {
    margin-top: 90px;
}
img.icon-img {
    width: 20px;
    height: 20px;
}
.add-items input{
    border-radius: 10px;
    color: #5D6C20;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid #dcdcdc;
    padding: 10px;
}
.add-items input:focus{
    outline: #5D6C20;
    border-radius: 10px;
}
.add-items input::placeholder{
    color: #a5b138;
}
.event-date-box h4{
    color: #434040;
    font-weight: 900;
    text-align: left;
    margin: 20px 0;
    font-size:28px;
}
.event-date-box h4 span{
    color: #686868;
    font-weight: 600;
}

/* event created poster start */
.created-event-message-main{
    background-image: url('../../../assets/images/created_event_message.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.created-event-box p {
    color: #ACC9B1;
    font-size: 32px;
}
.hashtag-1 h2{
    color: #D2A0A1;
    font-weight: bold;
}
/* event created poster end */


.next-back-button button{
    background-color: #A5B138;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}