.event-slider, .group-slider {
    padding-left: 50px;
}
.event-name{
    background-color: #5D6C20;
    border-radius: 10px;
    font-size: 30px;
    line-height: 50px;
    margin: 0px 10px;
}
.event-name p{
    color: #ffffff;
    font-size: 20px;
}
.add-event button {
    background: transparent;
    border: none;
    color: #fff;
    background-color: #5D6C20;
    border-radius: 50%;
    font-size: 30px;
    position: absolute;
    left: 0;
    height: 50px;
    width: 50px;
}
.add-group button {
    position: absolute;
    left: 16px;
    color: #fff;
    font-size: 30px;
    line-height: 1;
    background: transparent;
    border: none;
    z-index: 1;
}
.add-group button:hover {
    color: #fff;
}
.add-group button:focus{
    box-shadow: none;
}
.group-header{
    background-color: #A6B138;
    padding: 7px;
    height: 55px;
}
.group-header span{
    color: #A6B138;
    font-weight: bold;
}
.group-name .active{
    outline: 2px solid #ffffff;
    outline-offset: 3px;
}
.group-name {
    background-color: #fff;
    margin: 0 5px;
    padding: 7px;
    border-radius: 7px;
}
.group-box{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    height: 300px
}
.inner-box-group{
    background-color: #eaeaea;
    border-radius: 7px;
    padding: 10px
}
.inner-box-group ul{
    padding: 0;
    margin-bottom: 0;
}
.inner-box-group ul li{
    list-style: none;
    color: #5D6C20;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #fff;
    padding: 5px 10px;
}

.inner-box-group ul li:hover {
    background-color: #ffffff94;
    color: #d8d8d8;
}
.group-box h6{
    color: #686868;
    font-size: 20px;
}
button.btn.add-btn {
    background-color: #a6b138;
    color: #fff;
    margin-top: 10px;
}
.sales-inner.sales-inner-box-main-box {
    margin-top: 90px;
}
img.icon-img {
    width: 20px;
    height: 20px;
}
.add-items input{
    border-radius: 10px;
    color: #5D6C20;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid #dcdcdc;
    padding: 10px;
}
.add-items input:focus{
    outline: #5D6C20;
    border-radius: 10px;
}
.add-items input::placeholder{
    color: #a5b138;
}