<section class="sales-pricing-main">
    <app-loader *ngIf="isLoad" id="loader"></app-loader>
    <div class="page-content">
        <div class="bg-box-set-price">
            <div class="hashtag">
                <h2>#{{eventHashTag}}</h2>
            </div>
            <div class="main-box-for-slider">
                <p class="instruction">Tap on each event activity and click add to set price.</p>
                <div class="sales-inner sales-inner-box-main-box">
                    <app-activity-slider [activityDetails]="activities" (singleActivity)="getActivity($event)" (eventHashTag)="getHashTag($event)">
                    </app-activity-slider>
                    <div class="event-date-box" *ngIf="isDisable">
                        <h4>Event Date: <span>{{activityDate | date}}</span></h4>
                    </div>
                    <div class="group-box" *ngIf="isDisable">
                        <app-group-slider [selectedActivity]="selectedActivity" (singleGroup)="getGroup($event)">
                        </app-group-slider>
                        <div class="row m-0">
                            <div class="col-md-6" *ngIf="selectedGroup && selectedGroup.male">
                                <h6 class="text-left">Set Price for
                                    <img src="../../../assets/images/male.png" class="icon-img" alt="male icon"> Male
                                </h6>
                                <div class="inner-box-group">
                                    <ul>
                                        <li class="w-100 d-inline-block" *ngFor="let item of selectedGroup.male; let i =index">
                                            <h5 class="float-left item-name">{{item.itemName}}</h5>
                                            <h5 class="float-right item-price">
                                                {{item.itemPrice | currency:"&#x20A6; &nbsp;"}}
                                            </h5>
                                            <div class="info">
                                                <a data-toggle="modal" (click)="openDescription(item)">
                                                    <img src="../../../assets/images/information.png" alt="">
                                                </a>
                                            </div>
                                            <div class="delete-icon" (click)="removeMaleItem(item , i , selectedGroup._id)">
                                                <img src="../../../assets/images/bin.png" alt="delete icon">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <button class="btn add-btn" data-toggle="modal" (click)="openMaleModel()">Add</button>
                            </div>
                            <div class="col-md-6" *ngIf="selectedGroup && selectedGroup.female">
                                <h6 class="text-left">Set Price for
                                    <img src="../../../assets/images/girl.png" class="icon-img" alt="female icon"> Female
                                </h6>
                                <div class="inner-box-group">
                                    <ul>
                                        <li *ngFor="let item of selectedGroup.female; let i=index">
                                            <h5 class="float-left item-name">{{item.itemName}}</h5>
                                            <h5 class="float-right item-price">
                                                {{ item.itemPrice | currency:'&#x20A6; &nbsp;': true }}</h5>

                                            <div class="info">
                                                <a data-toggle="modal" (click)="openFemaleDescription(item)">
                                                    <img src="../../../assets/images/information.png" alt="">
                                                </a>
                                            </div>
                                            <div class="delete-icon" (click)="removeFemaleItem(item , i, selectedGroup._id)">
                                                <img src="../../../assets/images/bin.png" alt="delete icon">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <button class="btn add-btn" data-toggle="modal" (click)="openFemaleModel()">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="next-back-button mt-2 w-100 d-inline-block">
                        <button class="btn float-left" (click)="backToActivity()">Back</button>
                        <button class="btn float-right" (click)="updateGroup? updateGroups(): addGroup()" [disabled]="!isButton">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- male modal content start -->

<div class="modal" id="addMaleItemModal" *ngIf="isDisable">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="add-items">
                    <input type="text" placeholder="Enter Item Name" [(ngModel)]="object.itemName" required>
                    <input type="number" placeholder="Enter Item Price" oninput="validity.valid||(value='');" onkeydown="return event.keyCode !== 69" (keydown)="addMaleItem($event)" (input)="numberValidationForMale($event)" id="codeInput" [(ngModel)]="object.itemPrice">
                    <input type="text" placeholder="Enter Description" (keydown)="maleItemAdd($event)" [(ngModel)]="object.description">
                </div>
            </div>
            <div class="modal-footer pt-0 text-center">
                <button type="submit" class="btn add-btn" [disabled]="!isModel" (click)="addMaleItmes(object)">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- male modal content end -->
<!-- female modal content start -->


<div class="modal" id="addFemaleItemModal" *ngIf="isDisable">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="add-items">
                    <input type="text" placeholder="Enter item name" [(ngModel)]="femaleObject.itemName">
                    <input type="number" placeholder="Enter item price" min="0" oninput="validity.valid||(value='');" onkeydown="return event.keyCode !== 69" (input)="numberValidationForFemale($event)" (keydown)="addFemaleItem($event)" [(ngModel)]="femaleObject.itemPrice">
                    <input type="text" placeholder="Enter Description" [(ngModel)]="femaleObject.description" (keydown)="feMaleItemAdd($event)">
                </div>
            </div>
            <div class="modal-footer pt-0 text-center">
                <button type="button" class="btn add-btn" data-dismiss="modal" (click)="addFemaleItmes(femaleObject)" [disabled]="!isModel">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- female modal content end -->


<!-- deescription modal male start -->
<div class="modal fade description" id="descriptionModalMale" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header pb-0">
                <h5 class="modal-title">{{discriptionItem}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p *ngIf="discriptionName">{{discriptionName}}</p>
                <p *ngIf="!discriptionName">Sorry, no description in this item</p>
            </div>
        </div>
    </div>
</div>
<!-- decsription modal male end -->

<!-- deescription modal female start -->
<div class="modal fade description" id="descriptionModalFemale" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header pb-0">
                <h5 class="modal-title">{{discriptionItem}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p *ngIf="discriptionName">{{discriptionName}}</p>
                <p *ngIf="!discriptionName">Sorry, no description in this item</p>
            </div>
        </div>
    </div>
</div>
<!-- decsription modal female end -->



<div class="modal fade" id="maleItemRemove" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header py-2">
                <button type="button" class="close" (click)="closeMaleModel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0 confirmBox">
                <h1>Are you sure you want to remove this item?</h1>
            </div>
            <div class="modal-footer m-auto">
                <button type="button" class="btn removeGroup" data-dismiss="modal" (click)="itemRemove()">Yes</button>
                <button type="button" class="btn edit" (click)="notRemoveItem()">No</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="femaleItemRemove" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header py-2">
                <button type="button" class="close" (click)="closeFemaleModel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0 confirmBox">
                <h1>Are you sure you want to remove this item ?</h1>
            </div>
            <div class="modal-footer m-auto">
                <button type="button" class="btn removeGroup" data-dismiss="modal" (click)="itemRemoveFemale()">Yes</button>
                <button type="button" class="btn edit" (click)="notRemoveItemFemale()">No</button>
            </div>
        </div>
    </div>
</div>