<app-loader *ngIf="isLoad"></app-loader>

<section class="enter-screen-main d-flex justify-content-center align-items-center">
	<div class="andco-logo">
		<img src="assets/images/andco_logo.png" alt="andco logo">
	</div>
	<div class="enter-inner-box">
		<div class="join-enter">
			<a routerLink="/signUp" class="float-left">join</a>
			<a routerLink="/login" class="float-right">enter</a>
		</div>
		<div class="join-social">
			<ul>
				<li>
					<a href="javascript:void(0)" (click)="signWithGoogle()">
						<img src="assets/images/gmail.png" alt="gamil icon">
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" (click)="signWithFacebook()">
						<img src="assets/images/facebook.png" alt="facebook icon">
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="assets/images/message.png" alt="local icon">
					</a>
				</li>
			</ul>
		</div>
		<form class="join_form login_form pt-0" [formGroup]="loginForm" autocomplete="off">
			<div class="join-enter-inputs">
				<input type="email" autocomplete="off" placeholder="Your email address"
					[ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }" formControlName="email">
				<div class="col-md-2" *ngIf="f.email.touched && f.email.errors" class="invalid-feedback ">
					<div *ngIf="f.email.errors.required">Email is required</div>
					<div *ngIf="f.email.errors.email">Please enter valid Email</div>
				</div>
				<div class="input_with_icont">
					<input type="password" autocomplete="off" formControlName="password"
						placeholder="Your password" [type]="show ? 'text' : 'password'">
					<span toggle="#password-field" class="fa fa-fw fa-eye-slash field-icon toggle-password"
						(click)="password()"></span>
				</div>
			</div>
			<div class="join-submit w-100 text-center">
				<button class="btn join-submit" type="submit" (click)="onSubmitLogin()"
					[disabled]="isDisable || loginForm.invalid">Enter</button>
			</div>
			<div class="text-center mt-2">
				<button class="btn forgot-btn text-white" data-toggle="modal" data-target="#forgotPassModal">Forgot
					Password ?</button>
			</div>
		</form>
	</div>
</section>

<!-- forgot password modal start-->

<div class="modal forgot-modal" id="forgotPassModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Forgot Password</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<form [formGroup]="forgotPasswordForm">
				<div class="modal-body">
					<input type="email" formControlName="email" placeholder="Enter you email" required="required">
				</div>

				<!-- <div class="error_msg" *ngIf="submitted && error1Msg">
					<span class="fas fa-exclamation-circle err_icon">
						<span class="error">{{error1Msg}}</span> </span>
				</div> -->
				<div class="modal-footer">
					<button type="button" class="btn forgot-submit-btn" data-dismiss="modal"
						[disabled]="isDisable || forgotPasswordForm.invalid" (click)="updatePassword()">Send</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- forgot password modal end -->