<section class="enter-screen-main d-flex justify-content-center align-items-center">
	<div class="andco-logo">
		<img src="../../assets/images/andco_logo.png" alt="andco logo">
	</div>
	<div class="enter-inner-box">
		<div class="join-enter">
			<a routerLink="/signUp" class="float-left">join</a>
			<a routerLink="/login" class="float-right">enter</a>
		</div>
		<div class="join-social">
			<ul>
				<li>
					<a href="#">
						<img src="../../assets/images/gmail.png" alt="facebook">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../../assets/images/facebook.png" alt="facebook">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../../assets/images/message.png" alt="facebook">
					</a>
				</li>
			</ul>
		</div>
		<div class="join-enter-inputs">
			<input type="text" placeholder="Your email address">
			<input type="password" placeholder="Your password">
		</div>
		<div class="join-submit w-100 text-center">
			<button class="btn join-submit">Enter</button>
		</div>
	</div>
</section>