.enter-screen-main {
    background-image: url('../../assets/images/join_enter.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 100vh;
    background-repeat: no-repeat;
    padding: 20px;
    flex-direction: column;
    overflow: hidden;
}

.enter-inner-box {
    width: 700px;
    height: 600px;
    background-color: #def9e2;
    border-radius: 30px;
    padding: 80px;
}

.join-enter {
    width: 100%;
    display: inline-block;
}

.join-enter .invalid-feedback {
    font-size: 18px;
    margin-top: -10px;
}

.join-enter a.float-left,
.join-enter a.float-right {
    font-size: 20px;
    border-radius: 4px;
    padding: 7px 32px;
    font-weight: bold;
}

.join-enter a.float-left {
    color: #000000;
    background-color: #ffffff;
}

.join-enter a.float-right {
    color: #ffffff;
    background-color: #528D69;
}

.join-enter-quote {
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.join-enter-quote p {
    font-size: 40px;
}

.join-enter-inputs {
    text-align: center;
}

.join-enter-inputs input::placeholder,
.forgot-modal input::placeholder {
    color: #ACC9B1 !important;
    font-size: 26px !important;
    font-weight: 400;
}

.join-enter-inputs input {
    font-family: 'Advent Pro', 'sans-sarif';
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #528D69;
    width: 80%;
    height: 40px;
    font-size: 24px;
    color: #528D69;
    font-weight: 600;
    margin-bottom: 20px;
}

.join-enter-inputs input:focus {
    box-shadow: none;
}

.join-submit button {
    background-color: #012615;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding: 7px 30px;
    outline: none;
}

.join-social ul {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin: 80px auto;
}

.join-social ul li {
    display: inline-block;
    margin: 0 10px;
}

.join-social ul li a img {
    height: 70px;
    width: 70px;
}

button.btn.forgot-btn {
    outline: none;
    box-shadow: none;
    color: #528D69;
    font-weight: bold;
}

.forgot-modal h4.modal-title {
    color: #000000;
    font-weight: bold;
}

.forgot-modal input {
    width: 100%;
    font-family: 'Advent Pro', 'sans-sarif';
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #528D69;
    font-size: 24px;
    color: #528D69;
    font-weight: 600;
}

.forgot-modal input:focus {
    outline: none;
}

.forgot-modal button.btn.forgot-submit-btn {
    background-color: #012615;
    color: #ffffff;
}

.forgot-modal button.close {
    outline: none;
}

.forgot-modal .modal-header,
.forgot-modal .modal-footer {
    border: none;
}

.forgot-modal .modal-footer {
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
}

.forgot-modal .modal-content {
    background-color: #def9e2;
    border: none;
}

.andco-logo {
    margin-top: -100px;
    margin-bottom: 70px;
}


/* responsive css start here */

@media (max-width: 1600px) {
    .enter-inner-box {
        width: 600px;
        height: 500px;
        padding: 50px
    }
    .join-social ul {
        margin: 50px auto;
    }
}

@media (max-width: 1366px) {
    .andco-logo {
        margin-top: -70px;
        margin-bottom: 20px;
    }
    .andco-logo img {
        height: 70px;
    }
    .join-social ul {
        margin: 30px auto;
    }
    .enter-inner-box {
        width: 580px;
        height: 460px;
        padding: 40px;
    }
}

@media (max-width: 1199px) {
    .join-social ul {
        margin: 40px auto;
        width: 60%;
    }
    .join-social ul li a img {
        height: 50px;
        width: 50px;
    }
    .join-enter-inputs input::placeholder {
        font-size: 22px !important;
    }
}

@media (max-width: 991px) {
    .enter-inner-box {
        width: 550px;
        height: 480px;
        padding: 40px;
    }
    .join-social ul li a img {
        height: 60px;
        width: 60px;
    }
    .join-social ul {
        margin: 40px auto;
    }
    .forgot-modal .modal-header h4 {
        font-size: 20px;
    }
    .forgot-modal input {
        font-size: 16px;
    }
    .andco-logo {
        margin: -10px 0px 30px;
    }
    .andco-logo img {
        height: 50px;
    }
    .enter-screen-main {
        height: unset;
        height: calc(var(--vh, 2vh) * 100);
        min-height: unset;
    }
}

@media (max-width: 575px) {
    .andco-logo img {
        height: 50px;
    }
    .enter-inner-box {
        width: 470px;
        height: 420px;
        padding: 30px;
        border-radius: 20px;
    }
    .join-enter a.float-left,
    .join-enter a.float-right {
        border-radius: 5px;
        padding: 2px 26px;
    }
    .join-social ul li a img {
        height: 50px;
        width: 50px;
    }
    .join-social ul {
        margin: 30px auto;
    }
    .join-enter-inputs input {
        height: 30px;
        font-size: 22px;
        width: 100%;
    }
    .join-enter-inputs input::placeholder {
        font-size: 20px;
    }
    .join-submit button {
        padding: 2px 30px;
    }
    .forgot-modal .modal-body,
    .forgot-modal .modal-header {
        padding: 5px 10px;
    }
    .forgot-modal .modal-content {
        border-radius: 10px !important;
    }
}

@media (max-width: 480px) {
    .enter-inner-box {
        width: 400px;
        height: 360px;
    }
}

@media (max-width: 400px) {
    .andco-logo img {
        height: 40px;
    }
    .enter-inner-box {
        width: 330px;
        height: 320px;
        padding: 20px;
    }
    .join-enter-inputs input {
        height: 30px;
        font-size: 18px;
    }
    .join-enter-inputs input::placeholder {
        font-size: 18px !important;
    }
    .join-enter-inputs input {
        margin-bottom: 10px;
    }
    .join-social ul li a img {
        height: 40px;
        width: 40px;
    }
    .join-submit button {
        font-size: 14px;
    }
}

@media(max-width: 320px) {
    .enter-inner-box {
        width: 290px;
        height: 300px;
    }
    .join-social ul {
        margin: 20px auto;
    }
    .join-enter a.float-left,
    .join-enter a.float-right {
        font-size: 18px;
    }
}