<div class="guest-list-box p-0">
    <p class="text-center" id="message"></p>
    <div class="guest-list-box-scroll">
        <div class="accordion" id="accordionExample" *ngFor="let item of displayGuestItems; let i =index">
            <button type="button" [attr.data-target]="'#collapseOne' + i" id="bhudev{{i}}" class="btn w-100"
                data-toggle="collapse" aria-controls="collapseOne" (click)="current = i">
                <div class="inner-header">
                    <div class="profile-name">
                        <span>{{item.firstLetter | titlecase}}{{item.lastLetter | titlecase}}</span>
                    </div>
                    <div class="guest-name">
                        <h1>{{item.firstName}} {{item.lastName}}</h1>
                    </div>
                </div>
            </button>
            <div id="collapseOne{{i}}" [class.collapse]='current != i' class="collapse" aria-labelledby="headingOne"
                data-parent="#accordionExample">
                <div class="info-box">
                    <div class="row m-0">
                        <div class="col-sm-4">
                            <div class="info">
                                <img src="assets/images/location-guest.png" alt="location icon">
                                <p>{{item.address}}</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="info">
                                <img src="../../../assets/images/call-guest.png" alt="call icon">
                                <p>{{item.phoneNo}}</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="info">
                                <img src="../../../assets/images/message-guest.png" alt="message icon">
                                <p>{{item.email}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="mt-3">
                    <li class="guest-single-item" *ngFor="let final of item.items">
                        <div class="guest-item-name">
                            <p>{{final.quantity}} {{final.itemId.itemName}}</p>
                        </div>
                        <div class="guest-event-name">
                            <p>{{final.itemId.activityId.activityName}}</p>
                        </div>
                        <div class="guest-item-price">
                            <p>{{final.itemId.itemPrice * final.quantity | currency:"&#x20A6;&nbsp;"}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>