<!-- <img [src]="imgURL" height="200" class="float-right" id="imageFilter"
    onerror="this.src='/assets/images/profile_img.png'">
<input type="file" (change)="addFile($event.target.files)" accept="image/png, image/png, image/png" id="upload_profile">
<button (click)="AddAttchment()">AddAttchment</button> -->


<div class="">
    <form [formGroup]="mailForm">
        <input type="text" placeholder="Add email address" formControlName="email"
            [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }">
        <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback ">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Please enter valid Email</div>
        </div>
        <button [disabled]="mailForm.invalid">Submit</button>
    </form>
</div>