<!-- <section class="menu-main single" *ngIf="index == 0">
    <app-header></app-header>
    <div class="page-content">
        <div class="menu-links-one">
            <div class="hello-text">
                <h2 class="tooltip-class" title="helllo">
                    <span>{{userName}}, you're in yayyy !!</span>
                </h2>
            </div>
            <button class="btn" (click)= "displaySecondMenu(index)">new event</button>
        </div>
    </div>
</section> -->

<section class="menu-main double">
    <div class="page-content flex-column">
     
        <div class="menu-main-box">
            <div class="hello-text">
                <h2 class="tooltip-class" title="{{userName}}">
                    <span>Yayyy !! {{userName}}, you're in </span>
                </h2>
            </div>
            <div class="menu-links">
                <ul class="mb-0">
                    <li class="active" (click)="getHeader('/createEvent')"><a>new event</a></li>
                    <li><a href="#">my event</a></li>
                    <li><a href="#">add bank account</a></li>
                    <li><a href="#">messages</a></li>
                    <li><a href="#">collections</a></li>
                    <li><a href="javascript:void(0)" (click)="logout()">exit</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>