<div class="payment">
    <div class="total-amount">
        <h2>Total : 20,000.00</h2>
    </div>
    <h3 class="text-center font-weight-bold my-4">Pay by</h3>
    <div class="radio-group">
        <div>
            <p><input type="radio" name="radio2" id="test3" (click)="bankSelect()">
                <label for="test3">Bank account</label></p>
            <p><input type="radio" name="radio2" id="test4" (click)="cardSeleced()">
                <label for="test4">Bank Card</label></p>
            <p><input type="radio" name="radio2" id="test4" (click)="ussdSeleced()">
                <label for="test4">USSD</label></p>
        </div>
    </div>
    <div class="buttons-pay-back">
        <button class="btn">Back</button>
        <button class="btn">Pay</button>
    </div>
</div>