.total-amount{
    position: relative;
}
.total-amount h2 {
    color: #444444;
    text-align: center;
    font-weight: 600;
    position: relative;
    padding: 15px 0 10px;
}
.total-amount h2:after{
    content: "";
    background-color: #ffffff60;
    position: absolute;
    top: 0;
    right: -30px;
    left: -30px;
    bottom: 0;
}
.radio-group{
    display: flex;
    justify-content: center;
}

/* radio button css start here */

[type="radio"]:checked, [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked+label, [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    line-height: 35px;
    display: inline-block;
    color: #ffffff ;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

[type="radio"]:checked+label:before, [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 28px;
    height: 28px;
    border: 1px solid #ffffff;
    border-radius: 100%;
    background: #ffffff;
}

[type="radio"]:checked+label:after, [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 13px;
    height: 13px;
    background: #26ABCF;
    position: absolute;
    top: 7px;
    left: 7px;
    border-radius: 100%;
    transition: all 0.2s ease;
    transition: transform 600ms cubic-bezier(0.175, 0.885, 0.32, 1.2);
    transform: translateY(-50px);
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* radio button css end here */