.myEvent-main{
    /* background: linear-gradient(#AF7440,#E39447); */
    background: linear-gradient(#C4752D,#DE8F43);
    height: 100%;
    min-height: 100vh;
}
.myevent-inner-box{
    width: 800px;
    overflow-x: hidden;
    position: relative;
    min-height: calc(100vh - 190px);
}
.my-event-hashtag h2{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: #fff;
    text-shadow: 10px 5px 0px rgba(0,0,0, 0.16);
    font-family: 'Advent Pro', 'sans-sarif';
}
/* .event-menu-box {
    position: absolute;
    bottom: 0;
} */

/* responsive css start */
@media(max-width: 1600px){
    .myevent-inner-box{
        width: 750px;
    }
}
@media(max-width: 1366px){
    .myevent-inner-box{
        width: 700px;
    }
}
@media(max-width: 1199px){
    .myevent-inner-box{
        width:650px;
    }
}
@media(max-width: 991px){
    .myevent-inner-box{
        width: 600px;
    }
}
@media(max-width: 767px){
    .myevent-inner-box{
        width: 550px;
    }
}
@media(max-width: 575px){
    .myevent-inner-box{
        width: 480px;
    }
}
@media(max-width: 480px){
    .myevent-inner-box{
        width: 400px;
    }
}
@media(max-width: 400px){
    .myevent-inner-box{
        width: 100%;
    }
}