<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#total">Total</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#guests">Guests</a>
    </li>
</ul>
<div class="tab-content">
    <div id="total" class="tab-pane active"><br>
       <app-total-collection></app-total-collection>
    </div>
    <div id="guests" class="tab-pane fade"><br>
        <app-guest-collection></app-guest-collection>
    </div>
</div>