.nav-tabs{
    border: none;
}
ul.nav.nav-tabs {
    display: flex;
    justify-content: center;
}
li.nav-item a {
    font-size: 23px;
    color: #686868;
}
.nav-tabs .nav-link{
    border-radius: 4px !important;
    background-color: #fff;
    padding: 10px 70px;
    margin: 10px;
    border: 2px solid transparent;
}
.nav-link.active {
    border: 2px solid #F8D0AD !important;
}
a.nav-link.active {
    color: #C97A33 !important;  
}

@media(max-width:1600px){
    .nav-tabs .nav-link{
        padding: 5px 60px 3px;
    }
    .total-slide h1 {
        font-size: 34px;
    }
}
@media(max-width:1366px){
    li.nav-item a{
        font-size: 20px;
    }
}
@media(max-width:1199px){
    li.nav-item a{
        font-size: 18px;
    }
}
@media(max-width:440px){
    .nav-tabs .nav-link {
        padding: 5px 30px 3px;
    }
}
@media(max-width:400px){
    .nav-tabs .nav-link{
        padding: 5px 19px 0px;
    }
}