<ul class="nav nav-tabs">
    <li class="nav-item" *ngFor="let tabs of navTabs; let i =index">
        <a class="nav-link" data-toggle="tab" (click)="selectedTab(i)" [class.active]="selectedIndex===i">{{tabs}}</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#guests" (click)="displayGuestList()">Guests</a>
    </li> -->
</ul>
<div class="tab-content">
    <div id="total" class="tab-pane active" role="tabpanel" *ngIf="selectedIndex === 0">
        <app-total-collection [collections]="finalCollection"></app-total-collection>
    </div>
    <div id="guests" class="tab-pane active" role="tabpanel" *ngIf="selectedIndex === 1">
        <app-guest-collection [guestItems]="displayGuestItems" [eventId]="eventId" [noList]="noGuestList">
        </app-guest-collection>
    </div>
</div>








<!-- <ul class="nav nav-tabs side_nav" role="tablist">
    <li *ngFor="let wallet of coinwallet; let first = first;" [ngClass]="{firstItem: first}" role="presentation" class="accounts_li" [class.active]="selectedwallet===wallet">
      <a (click)="selectedwallet = wallet" aria-controls="one" role="tab" data-toggle="tab">{{wallet}}</a>
    </li>
  </ul>
  
  <div class="tab-content">
    <div *ngIf="selectedwallet === coinwallet[0]" role="tabpanel" class="tab-pane active" id="one">wallet 1 content</div>
    <div *ngIf="selectedwallet === coinwallet[1]" role="tabpanel" class="tab-pane active" id="two">wallet 2 content</div>
  </div> -->