li.guest-item{
    width: 100%;
    display: inline-block;
    color: #fff;
    border-bottom:1px solid #b8e6f2;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 5px;
}
.guest-item-name{
    float: left;
}
.guest-add-items{
    float: right;
}
button.single-activity{
    color: var(--total-title-font-color);
    font-weight: 600;
    position: relative;
    text-align: left;
    font-size: 30px;
    background-color: var(--total-title-background-color);
    border-radius: 0;
    margin-bottom: 10px;
}
button.btn.add-more {
    background-color: #fff;
    color: var(--guest-total-add-more);
    font-weight: 600;
    padding: 5px 30px;
    font-size: 20px;
    margin-bottom: 10px;
    float: right;
}
.guest-add-items h4 img{
    height: 20px;
    margin-left: 20px;
}
.group-box {
    margin: 15px;
}
.group-box h4.group {
    color: var(--group-box-h4-group);
    font-weight: bold;
    padding-left: 20px;
    position: relative;
}
.group-box h4.group:after{
    content: "";
    background-color: var(--group-box-h4-group);
    position: absolute;
    left: 0px;
    top: 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 5px;
}
.group-box ul{
    padding: 10px 20px;
}
.main-item {
    max-height: 210px;
    overflow: auto;
    padding: 10px 0;
}
.main-item::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px transparent;
    border-radius: 10px;
    background-color: #ffffff80;
}

.main-item::-webkit-scrollbar {
    width: 3px;
    padding-right: 3px;
    background-color: transparent;
}

.main-item::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px transparent;
    background-color: #003A47;
}

/* accordion start */
.myaccordion button:after {
    content    : "\f078";
    font-family: 'FontAwesome';
}
.myaccordion button[aria-expanded="true"]:after {
    content: "\f077";
}
.myaccordion button.collapsed:after,
.myaccordion button:after {
    position           : absolute;
    right              : 30px;
    top                : 0;
    bottom             : 0;
    margin             : auto;
    color        : var(--activity-accordian-arrow-color);
    font-size    : 20px;
    line-height: 50px;
}

/* accordian end */


.buttons-pay-back {
    display: flex;
    justify-content: space-between;
    /* position: absolute;
    bottom: -50px;
    width: 100%;
    left: 0; */
}
.buttons-pay-back button {
    background-color: #fff;
    color: var(--guest-total-add-more);
    font-weight: bold;
    padding: 7px 30px;
    font-size: 18px;
}
