<app-loader *ngIf="isLoad" id="loader"></app-loader>

<div class="guest-item-main">
    <div class="d-inline-block w-100">
        <button class="btn add-more" (click)="addMoreItems()">add more</button>
    </div>
    <div class="empty-cart text-center" *ngIf="totlaItem && !totlaItem.length">
        <img src="../../../assets/images/sample-color.gif" alt="cart gif">
        <p>Sorry, You have no item in your cart , please click on add More to add some items</p>
    </div>
    <div class="accordian-height-box">
        <div id="accordion" class="myaccordion" *ngFor="let key of keys; let i = index">
            <span>
                <button class="btn single-activity w-100" id="vivek{{i}}" data-toggle="collapse"
                    [attr.data-target]="'#collapseOne' + i" aria-controls="collapseOne" (click)="current = i"
                    tooltipClass="my-custom-class" ngbTooltip="{{key}}">
                    {{key}}
                </button>
                <div id="collapseOne{{i}}" class="collapse" [class.collapse]='current !=i' aria-labelledby="headingOne"
                    data-parent="#accordion">
                    <div class="main-item">
                        <div class="group-box">
                            <h4 class="group">Male</h4>
                            <ul>
                                <li *ngFor="let data of maleArray[i]; let k =index" class="guest-item">
                                    <div class="guest-item-name">
                                        <p tooltipClass="my-custom-class" ngbTooltip="{{data.itemName}}">
                                            {{data.itemName}}</p>
                                    </div>
                                    <div class="guest-add-items">
                                        <h4 class="font-weight-bold">{{data.itemPrice}}<span> x </span> {{data.quantity}}
            <span> = </span>{{data.itemPrice * data.quantity}}
            <img src="../../../assets/images/x.png" alt="remove" (click)="removeMaleItems(data.itemId, i ,k)">
            </h4>
        </div>
        </li>
        <!-- <li *ngIf="maleArray.length == 0">
                                    <h1>hello</h1>
                                </li> -->
        </ul>
        <h4 class="group">Female</h4>
        <ul>
            <li class="guest-item" *ngFor="let data of femaleArray[i]; let j = index">
                <div class="guest-item-name">
                    <p>{{data.itemName}}</p>
                </div>
                <div class="guest-add-items">
                    <h4 class="font-weight-bold">{{data.itemPrice}} <span> x </span> {{data.quantity}}
                        <span> =
                                            </span>{{data.itemPrice * data.quantity}}
                        <img src="../../../assets/images/x.png" alt="remove" (click)="removeFemaleItems(data.itemId, i ,j)">
                    </h4>
                </div>
            </li>
            <!-- <li *ngIf="femaleArray && femaleArray.length == 1">
                                    <h1>hello</h1>
                                </li> -->
        </ul>
    </div>
</div>
</div>
</span>
</div>
</div>
<div class="buttons-pay-back">
    <button class="btn" (click)="displayItemList()">Back</button>
    <button class="btn" (click)="addDonationOfEvent()">Pay Now</button>
</div>
</div>