<div class="guest-item-main">
    <div class="d-inline-block w-100">
        <button class="btn add-more" (click)="addMoreItems()">add more</button>
    </div>
    <div id="accordion" class="myaccordion">
        <span *ngFor="let key of keys; let i = index">
            <button class="btn single-activity w-100" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                {{key}}
            </button>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="main-item">
                    <div class="group-box">
                        <h4 class="group">Male</h4>
                        <ul>
                            <li *ngFor="let data of maleArray[i]; let k =index" class="guest-item">
                                <div class="guest-item-name">
                                    <p>{{data.itemName}}</p>
                                </div>
                                <div class="guest-add-items">
                                    <h4 class="font-weight-bold">{{data.itemPrice}}<span> x </span>
                                        {{data.quantity}}
                                        <span> = </span>{{data.itemPrice * data.quantity}}
                                        <img src="../../../assets/images/x.png" alt="remove"
                                            (click)="removeMaleItem(i ,k , data.itemId)">
                                    </h4>
                                </div>
                            </li>
                        </ul>
                        <h4 class="group">Female</h4>
                        <ul>
                            <li class="guest-item" *ngFor="let data of femaleArray[i]">
                                <div class="guest-item-name">
                                    <p>{{data.itemName}}</p>
                                </div>
                                <div class="guest-add-items">
                                    <h4 class="font-weight-bold">{{data.itemPrice}} <span> x </span>
                                        {{data.quantity}}
                                        <span> =
                                        </span>{{data.itemPrice * data.quantity}}
                                        <img src="../../../assets/images/x.png" alt="remove">
                                    </h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </span>
    </div>
    <div class="buttons-pay-back">
        <button class="btn">Back</button>
        <button class="btn" (click)="addDonationOfEvent()">Add Donation</button>
    </div>
</div>