<section class="sales-pricing-main">
    <app-loader *ngIf="isLoad" id="loader"></app-loader>
    <div class="page-content">
        <div class="bg-box-set-price">
            <div class="main-box-for-slider">
                <div class="hashtag-set-price">
                    <p>#{{hashTag}}</p>
                </div>
                <form [formGroup]="setPriceForm">
                    <div class="set-price-main-slider">
                        <div class="sales-inner sales-inner-box-message">
                            <app-bank-details (selectedBankAccount)="selectbankAccount($event)"
                                [bankAccount]="selectedAccount" [cardAccount]="selectedCardAccount"
                                (selectedCardAccount)="selectCard($event)" [allAmount]="totalAccount">
                            </app-bank-details>
                        </div>
                        <div class="sales-inner sales-inner-box-message">
                            <div class="single-main-box">
                                <h3>Your welcome message </h3>
                                <textarea formControlName="welcomeMessage"
                                    placeholder="Thank you for stopping by. We appreciate it."
                                    pattern="[A-Za-z0-9 _ . ,]+"
                                    [ngClass]="{ 'is-invalid': f.welcomeMessage.touched && f.welcomeMessage.errors }"
                                    ngModel="{{setPriceDetails ? setPriceDetails.welcomeMessage: ''}}"></textarea>
                                <div class="col-md-2" *ngIf=" f.welcomeMessage.touched && f.welcomeMessage.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f.welcomeMessage.errors.required">Message is required</div>
                                    <div *ngIf="f.welcomeMessage.errors.pattern">Please enter only alphabates</div>
                                </div>
                            </div>
                            <div class="single-main-box mt-sm-4">
                                <h3>Thank you message</h3>
                                <textarea formControlName="thankyouMessage"
                                    placeholder="Thank you for stopping by. We appreciate it."
                                    pattern="[A-Za-z0-9 _ . ,]+"
                                    [ngClass]="{ 'is-invalid': f.thankyouMessage.touched && f.thankyouMessage.errors }"
                                    ngModel="{{setPriceDetails ? setPriceDetails.thankyouMessage : ''}}"></textarea>
                                <div *ngIf=" f.thankyouMessage.touched && f.thankyouMessage.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f.thankyouMessage.errors.required">Message is required</div>
                                    <div *ngIf="f.thankyouMessage.errors.pattern">Please enter only alphabates</div>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                        <div class="sales-inner sales-inner-box-option">
                            <div class="option">
                                <span>Would you prefer your guests not bring a present, but gift you with:</span>
                                <div class="inner-radio-box">
                                    <div>
                                        <p><input type="radio" name="radio1" id="test1" (click)="giftOfEvent('test1')">
                                            <label for="test1">Cash</label>
                                        </p>
                                        <p><input type="radio" name="radio1" id="test2" (click)="giftOfEvent('test2')">
                                            <label for="test2">Contribute your
                                                registry</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="skip">
                                    <a (click)="skipButton()">Skip</a>
                                </div>
                                <div [hidden]="!isRegestery">
                                    <input class="w-100" type="text" formControlName="linkOfEvent"
                                        placeholder="Your registry link">
                                </div>
                            </div>
                        </div>
                        <div class="sales-inner sales-inner-box-option transfer" id="payMentSlide">
                            <div class="option">
                                <span>Transfer to my account</span>
                                <div class="inner-radio-box">
                                    <div>
                                        <p><input type="radio" name="radio3" id="test5" value="test5"
                                                (click)="paymentCloseDate('test5')">
                                            <label for="test5">instantly</label>
                                        </p>
                                        <p><input type="radio" (change)="paymentCloseDate('test6')" name="radio3"
                                                id="test6">
                                            <label for="test6">on later
                                                date</label>
                                        </p>
                                    </div>
                                </div>
                                <div [hidden]="!isTransfer">
                                    <mat-form-field>
                                        <!-- <mat-label>Choose a date</mat-label> -->
                                        <input matInput [matDatepicker]="picker1" readonly
                                            (dateChange)="getDate($event)" [min]="currentDay">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                    <!-- <input type="date" placeholder="DD-MM-YY" (change)="getDate($event)"> -->
                                    <h4>(this option saves you on alert charges)</h4>
                                </div>
                                <!-- <span *ngIf="setPriceDetails && setPriceDetails.payMentTransferDate"> -->
                                <div *ngIf="isPayment == true">
                                    <mat-form-field>
                                        <!-- <mat-label>Choose a date</mat-label> -->
                                        <input matInput [matDatepicker]="picker1" readonly
                                            (dateChange)="getDate($event)" [min]="currentDay"
                                            formControlName="payMentTransferDate"
                                            ngModel="{{setPriceDetails ? setPriceDetails.payMentTransferDate : ''}}">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <!-- </span> -->
                            </div>
                        </div>
                        <div class="sales-inner sales-inner-box-option">
                            <div class="option">
                                <span>I would like andco to handle my delivery</span>
                                <div class="inner-radio-box">
                                    <div>
                                        <p><input type="radio" (change)="selectedValue($event)" name="radio4"
                                                id="isdelivery">
                                            <label for="isdelivery">yes</label></p>
                                        <p><input type="radio" name="radio4" id="noDelivery"
                                                (change)="selectedValue($event)">
                                            <label for="noDelivery">no</label>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sales-inner sales-inner-box-option">
                            <div class="option">
                                <span>Close collections for my event on</span>
                                <div class="inner-radio-box timepicker-class">
                                    <div>
                                        <mat-form-field>
                                            <!-- <mat-label>Choose a date</mat-label> -->
                                            <input matInput [matDatepicker]="picker"
                                                formControlName="paymentDeadlineDate"
                                                [ngClass]="{ 'is-invalid': f.paymentDeadlineDate.touched && f.paymentDeadlineDate.errors }"
                                                readonly [min]="currentDay"
                                                ngModel="{{setPriceDetails ? setPriceDetails.paymentDeadlineDate : ''}}">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                            <div *ngIf=" f.paymentDeadlineDate.touched && f.paymentDeadlineDate.errors"
                                                class="invalid-feedback text-center">
                                                <div *ngIf="f.paymentDeadlineDate.errors.required">Payment Deadline Date
                                                    is required </div>
                                            </div>
                                        </mat-form-field>
                                        <!-- <div class="12hr-example"> -->
                                        <!-- <span (click)="openModel(default)"> -->
                                        <input placeholder="12hr format (default settings)"
                                            formControlName="paymentDeadlineTime" aria-label="12hr format"
                                            [ngxTimepicker]="default" readonly
                                            [ngClass]="{ 'is-invalid': f.paymentDeadlineTime.touched && f.paymentDeadlineTime.errors }"
                                            ngModel="{{setPriceDetails ? setPriceDetails.paymentDeadlineTime : ''}}"
                                            style="cursor: pointer;" [min]="time">
                                        <!-- </span> -->
                                        <ngx-material-timepicker #default>
                                        </ngx-material-timepicker>
                                        <div *ngIf=" f.paymentDeadlineTime.touched && f.paymentDeadlineTime.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.paymentDeadlineTime.errors.required">Payment Deadline Time is
                                                required </div>
                                        </div>
                                        <!-- </div> -->
                                        <h6 class="mt-2">{{timezone}} Standard Time</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sales-inner sales-inner-box-option thank-you">
                            <div class="option">
                                <span>Thank you.<br>Your event #{{hashTag}} is now live</span>
                                <h6>yayy, tell us one more thing</h6>
                            </div>
                        </div>
                        <div class="sales-inner sales-inner-box-option">
                            <div class="option how-did-u">
                                <span>How did you hear about andco</span>
                                <select class="form-control w-75 m-auto" *ngIf="!aboutTypeOf" name="" id=""
                                    (change)="onDropDown($event)">
                                    <option value="">Select</option>
                                    <option value="planner">Event Planner</option>
                                    <option value="vendor">Event Vendor</option>
                                    <option value="flyer">Flyer</option>
                                    <option value="others">Friends / Families Events</option>
                                    <option value="online">Online Search </option>
                                </select>

                                <select class="form-control w-75 m-auto" *ngIf="aboutTypeOf" formControlName="hearAbout"
                                    [(ngModel)]="aboutTypeOf.aboutType" (change)="updateDropDown($event)">
                                    <option value="">Select</option>
                                    <option value="planner">Event Planner</option>
                                    <option value="vendor">Event Vendor</option>
                                    <option value="flyer">Flyer</option>
                                    <option value="others">Friends / Families Events</option>
                                    <option value="online">Online Search </option>
                                </select>
                                <div [hidden]="!isEventPlannerSelected" class="how-did-u-input mt-3">
                                    <input type="text" (input)="plannerValue($event)" *ngIf="!hearAboutMessage"
                                        placeholder="Type here">
                                </div>
                                <div [hidden]="!isEventPlannerUpdate" class="how-did-u-input mt-3">
                                    <input type="text" (input)="updatePlannerValue($event)"
                                        [(ngModel)]="hearAboutMessage" placeholder="Type here"
                                        *ngIf="hearAboutMessage || aboutTypeOf" formControlName="message">
                                </div>
                                <div [hidden]="!isEventVendorSelected" class="how-did-u-input mt-3">
                                    <input type="text" placeholder="Type here" (input)="vendorValue($event)">
                                </div>
                                <div [hidden]="!isEventVendorUpdate" class="how-did-u-input mt-3">
                                    <input type="text" placeholder="Type here" (input)="updateVendorValue($event)"
                                        *ngIf="vendorMessage || aboutTypeOf" formControlName="vendorMessage"
                                        [(ngModel)]="vendorMessage">
                                </div>
                            </div>
                        </div>
                        <!-- <button class="btn set-price-custom-button" >Submit</button> -->
                    </div>
                </form>
                <button class="btn set-price-custom-button float-left" (click)="backToGroup()"
                    [disabled]="isBack">Back</button>
                <button class="btn set-price-custom-button float-right"
                    (click)="setPriceDetails? updateSetPrice():  setPrice()" [disabled]="isDisable">Submit</button>
            </div>
        </div>
    </div>
</section>