.sales-pricing-main{
    background-image: url('../../../assets/images/salesPrice1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hello-text h2 span{
    color: #434040;
    font-weight: bold;
}
.hashtag {
    position: absolute;
    top: 22%;
}
.hashtag h2{
    font-family: 'Advent Pro', 'sans-sarif';
    color: #686868;
    font-weight: bold;
}
.single-main-box h3{
    color: #A6B138;

    font-weight: bold;
}
.single-main-box textarea {
    border: 2px solid #a5b138;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: #A1A1A1;
    font-size: 20px;
    background-color: transparent;
    resize: none;
    width: 80%;
}
.single-main-box textarea::placeholder{
    color: silver;
}
.single-main-box textarea:focus{
    outline: none;
    box-shadow: none;
}

.sales-button {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}
.sales-inner span{
    color: #A6B138;
    text-align: center;
    font-size: 30px;
}
.sales-inner p{
    color: #bdbdbd;
    font-weight: 600;
    text-align: left;
    margin: auto;
    width: 60%;
    font-size: 22px;
}
.sales-inner input{
    text-align: center;
    color: #5D6C20;
    width: 60%;
    border: none;
    height: 50px;
    font-size: 22px;
}
.sales-inner input::placeholder{
    color: #5D6C20;
}
.sales-inner input:focus{
    outline: none;
    box-shadow: none;
}
.main-box-for-slider{
    width: 600px;
    margin: auto;
    text-align: center;
    position: relative;
}
.transfer h4{
    font-family: 'Advent Pro', 'sans-sarif';
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    line-height: 35px;
    display: inline-block;
    color: #bdbdbd;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #CCCCCC;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after{
    content: '';
    width: 16px;
    height: 16px;
    background: #ffffff;
    position: absolute;
    top: 7px;
    left: 7px;
    border-radius: 100%;
    transition: all 0.2s ease;
    transition: transform 600ms cubic-bezier(0.175, 0.885, 0.32, 1.2);
    transform: translateY(-50px);
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.skip {
    position: absolute;
    bottom: -40px;
    left: auto;
    right: auto;
    width: 100%;
}
.thank-you h6{
    color: #A1A1A1;
    font-size: 30px;
}