<section class="sales-pricing-main">
    <div class="main-box-for-slider">
        <div class="set-price-main-slider">
            <div class="sales-inner sales-inner-box-message">
                <div class="single-main-box">
                    <h3>Your welcome message </h3>
                    <textarea placeholder="Thank you for stopping by. We appreciate it."></textarea>
                </div>
                <div class="single-main-box mt-4">
                    <h3>After Payment message</h3>
                    <textarea placeholder="Thank you for stopping by. We appreciate it."></textarea>
                </div>
            </div>
            <div class="sales-inner sales-inner-box-option">
                <div class="option">
                    <span>Would you prefer your guests not bring a present, but gift you with:</span>
                    <p><input type="radio" name="radio1" id="test1" checked> <label for="test1">Cash</label></p>
                    <p><input type="radio" name="radio1" id="test2"> <label for="test2">Contribute your
                            registry</label>
                    </p>
                    <input type="text" value="" name="" placeholder="Your registry link">
                </div>
                <div class="skip">
                    <a href="#">Skip</a>
                </div>
            </div>
            <div class="sales-inner sales-inner-box-option transfer">
                <div class="option">
                    <span>Transfer to my account</span>
                    <p><input type="radio" name="radio3" id="test5" checked> <label for="test5">instantly</label>
                    </p>
                    <p><input type="radio" name="radio3" id="test6"> <label for="test6">on later date</label>
                    </p>
                    <input type="date" placeholder="DD-MM-YY">
                    <h4>(this option saves you on alert charges)</h4>
                </div>
            </div>
            <div class="sales-inner sales-inner-box-option">
                <div class="option">
                    <span>I would like andco to handle my delivery</span>
                    <p><input type="radio" name="radio4" id="test7" checked> <label for="test7">yes</label></p>
                    <p><input type="radio" name="radio4" id="test8"> <label for="test4">no</label>
                    </p>
                </div>
            </div>
            <div class="sales-inner sales-inner-box-option">
                <div class="option">
                    <span>Close collections for my event on</span>
                    <input type="date" value="" name="" placeholder="Bank Name" class="mb-2">
                    <input type="time" value="" name="" placeholder="Account Number">
                    <h6>West Africa Standard Time</h6>
                </div>
            </div>
            <div class="sales-inner sales-inner-box-option thank-you">
                <div class="option">
                    <span>Thank you.<br>Your event #Wonder2019 is now live</span>
                    <h6>yayy, tell us one more thing</h6>
                </div>
            </div>
            <div class="sales-inner sales-inner-box-option">
                <div class="option">
                    <span>How did you hear about andco</span>
                    <div class="dropdown">
                        <button class="dropdown-toggle" data-toggle="dropdown"></button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>