.sales-pricing-main {
    background-image: url('../../../assets/images/salesPrice1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    background-color: #a0ad36;
}

.bg-box-set-price {
    background-color: #f3f4f3;
    width: 950px;
    height: 600px;
    padding: 20px 0 40px;
    box-shadow: 0px 0px 70px #d5dbd5;
}

.hashtag-set-price p {
    color: #686868;
    font-family: 'Advent Pro', 'sans-sarif';
    font-size: 30px;
    margin: 20px 0;
    font-weight: bold;
}

.hello-text h2 span {
    color: #434040;
    font-weight: bold;
}

.hashtag {
    position: absolute;
    top: 22%;
}

.hashtag h2 {
    font-family: 'Advent Pro', 'sans-sarif';
    color: #686868;
    font-weight: bold;
}

.option {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.single-main-box h3 {
    color: #A6B138;
    font-weight: bold;
}

.single-main-box textarea {
    border: 2px solid #a5b138;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: #A1A1A1;
    font-size: 20px;
    background-color: #fff;
    resize: none;
    width: 80%;
}

.single-main-box textarea::placeholder {
    color: silver;
}

.single-main-box textarea:focus {
    outline: none;
    box-shadow: none;
}

.single-main-box textarea::-webkit-scrollbar-track {
    background-color: transparent;
}

.single-main-box textarea::-webkit-scrollbar {
    background-color: transparent;
}

.single-main-box textarea::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.sales-button {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}

.sales-inner span {
    color: #A6B138;
    text-align: center;
    font-size: 30px;
}

.sales-inner p {
    color: #bdbdbd;
    font-weight: 600;
    text-align: left;
    font-size: 22px;
}

.sales-inner input {
    text-align: center;
    color: #5D6C20;
    width: 70%;
    border: none;
    height: 50px;
    font-size: 22px;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
}

.sales-inner input.mat-input-element {
    width: 100%;
}

.sales-inner input::placeholder {
    color: #5D6C20;
}

.sales-inner input:focus {
    outline: none;
    box-shadow: none;
}

.main-box-for-slider {
    width: 600px;
    margin: auto;
    text-align: center;
    position: relative;
    padding-bottom: 70px;
}

.transfer h4 {
    font-family: 'Advent Pro', 'sans-sarif';
}

.skip {
    width: 100%;
    margin: 10px 0;
}

.skip a {
    color: #5D6C20;
    font-size: 14px;
}

.thank-you h6 {
    color: #A1A1A1;
    font-size: 30px;
}

.option h6 {
    color: #686868;
}

.how-did-u select {
    border: 1px solid #a5b138;
    background-image: url('../../../assets/images/down.png');
    background-position: center right 10px;
    background-size: 4%;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    font-size: 18px;
    width: 70%;
    -webkit-appearance: none;
    padding: 10px 30px 6px 10px;
}

.how-did-u select:focus {
    box-shadow: none;
}

button.btn.set-price-custom-button {
    background-color: #A6B138;
    color: #fff;
    font-size: 18px;
    padding: 8px 30px 3px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 5px;
    z-index: 11;
    position: absolute;
    bottom: 0;
}

button.btn.set-price-custom-button.float-right {
    right: 0;
}

button.btn.set-price-custom-button.float-left {
    left: 0;
}

.how-did-u-input {
    width: 100% !important;
}

.sales-pricing-main .page-content {
    padding-top: 135px;
}


/* radio button css start here */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    line-height: 35px;
    display: inline-block;
    color: #bdbdbd;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #CCCCCC;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 14px;
    height: 14px;
    background: #ffffff;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 100%;
    transition: all 0.2s ease;
    transition: transform 600ms cubic-bezier(0.175, 0.885, 0.32, 1.2);
    transform: translateY(-50px);
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.sales-inner h4{
    font-size: 14px;
    text-align: center;
    color: red;
    margin-bottom: 5px;
}

/* radio button css end here */


/* responsive css start here */

@media(max-width: 1600px) {
    .bg-box-set-price {
        width: 1040px;
        height: 550px;
        padding: 40px 0;
    }
    .sales-inner span {
        font-size: 28px;
    }
    .sales-inner input {
        height: 46px;
        font-size: 20px;
    }
}

@media(max-width: 1366px) {
    .bg-box-set-price {
        width: 870px;
        height: 490px;
        padding: 30px 0;
    }
    .sales-pricing-main .page-content {
        padding-top: 65px;
    }
    .hashtag-set-price p {
        margin: 10px 0;
    }
    .sales-inner span {
        font-size: 24px;
    }
    .sales-inner p {
        font-size: 20px;
    }
    .sales-inner input {
        height: 40px;
        font-size: 17px;
    }
    .single-main-box h3,
    .thank-you h6 {
        font-size: 22px;
    }
    .single-main-box textarea {
        font-size: 18px;
    }
    /* radio button  start*/
    [type="radio"]:checked+label:after,
    [type="radio"]:not(:checked)+label:after {
        width: 12px;
        height: 12px;
        top: 7px;
        left: 7px;
    }
    [type="radio"]:checked+label:before,
    [type="radio"]:not(:checked)+label:before {
        width: 26px;
        height: 26px;
    }
    /* radio button end*/
}

@media(max-width: 1199px) {
    .bg-box-set-price {
        width: 730px;
        height: 470px;
        padding: 20px 0;
    }
    .sales-inner span,
    .hashtag-set-price p {
        font-size: 22px;
    }
    .sales-inner p {
        font-size: 18px;
    }
    button.btn.set-price-custom-button {
        padding: 4px 19px;
    }
    /* radio button  start*/
    [type="radio"]:checked+label:after,
    [type="radio"]:not(:checked)+label:after {
        width: 10px;
        height: 10px;
        top: 8px;
        left: 8px;
    }
    [type="radio"]:checked+label:before,
    [type="radio"]:not(:checked)+label:before {
        width: 20px;
        height: 20px;
        left: 3px;
        top: 3px;
    }
    [type="radio"]:checked+label,
    [type="radio"]:not(:checked)+label {
        line-height: 30px;
    }
    [type="radio"]:checked+label,
    [type="radio"]:not(:checked)+label {
        font-size: 20px;
    }
    /* radio button end*/
}

@media(max-width: 991px) {
    .sales-inner span,
    .hashtag-set-price p {
        font-size: 20px;
    }
    .single-main-box textarea {
        font-size: 18px;
        padding: 15px;
    }
    .single-main-box h3,
    .thank-you h6 {
        font-size: 18px;
        margin-bottom: 8px;
    }
    .sales-inner input {
        font-size: 16px;
    }
    [type="radio"]:checked+label,
    [type="radio"]:not(:checked)+label {
        font-size: 18px;
    }
}

@media(max-width: 767px) {
    .bg-box-set-price {
        width: 640px;
        height: 440px;
    }
    .main-box-for-slider {
        width: 500px;
    }
    .sales-inner span,
    .hashtag-set-price p {
        font-size: 18px;
    }
    .how-did-u select {
        font-size: 16px;
    }
    button.btn.set-price-custom-button {
        bottom: 20px;
        font-size: 16px;
    }
}

@media(max-width: 575px) {
    .bg-box-set-price {
        width: 480px;
        height: 420px;
        margin-top: 0;
        padding: 10px 0;
    }
    .main-box-for-slider {
        width: 400px;
    }
    .transfer h4 {
        font-size: 18px;
    }
    .single-main-box textarea {
        border: 1px solid #A6B138;
        width: 100%;
    }
    .sales-inner input {
        width: 100%;
    }
    .inner-radio-box .mat-form-field {
        width: calc(100% - 40px);
        float: left;
    }
    [type="radio"]:checked+label,
    [type="radio"]:not(:checked)+label {
        font-size: 16px;
    }
}

@media(max-width: 480px) {
    .bg-box-set-price {
        width: 390px;
    }
    .main-box-for-slider {
        width: 350px;
    }
    .sales-inner input {
        font-size: 14px;
    }
    .sales-inner p {
        font-size: 16px;
    }
    .main-box-for-slider {
        width: 300px;
    }
    .how-did-u select {
        width: 100% !important;
    }
}

@media(max-width: 400px) {
    .bg-box-set-price {
        width: 340px;
        height: auto;
    }
    .single-main-box textarea {
        font-size: 14px;
        padding: 8px;
    }
    .how-did-u select {
        font-size: 14px;
    }
    .sales-inner span,
    .hashtag-set-price p {
        font-size: 16px;
    }
    .single-main-box h3,
    .thank-you h6 {
        font-size: 16px;
        margin-bottom: 4px;
    }
    .main-box-for-slider {
        width: 260px;
    }
    .transfer h4 {
        font-size: 16px;
    }
    button.btn.set-price-custom-button {
        padding: 4px 12px;
        font-size: 14px;
    }
}

@media(max-width: 320px) {
    .bg-box-set-price {
        width: 290px;
    }
}