<div class="total-guest mt-sm-4">
    <span *ngIf="displayGuest">{{displayGuest? displayGuest.length : '0'}} Guests</span>
</div>
<div class="social-icon">
    <ul>
        <li *ngFor="let icon of displayIcons;let i =index" [class.active]="selctedIndex == i">
            <a (click)="displayListOfPlatForm(i)" tooltipClass="my-custom-class" ngbTooltip="{{icon.name}}">
                <img src="{{icon.path}}" alt="whatsapp icon">
            </a>
        </li>
    </ul>
</div>
<div class="guest-list-box">
    <div class="text-center empty-message" *ngIf="noListMessage">
        <img src="../../../assets/images/no-user.gif" alt="no-user">
        <p>{{noListMessage}}</p>
    </div>
    <ul class="guest-list-inner-box">
        <li *ngFor="let name of displayGuest; let i =index">
            <div class="profile-name">
                <span>{{firstLetter[i] | titlecase}}{{secondLetter[i] | titlecase}}</span>
            </div>
            <div class="guest-name">
                <p>{{name.userName | titlecase}} </p>
            </div>
        </li>
    </ul>
</div>