<div class="total-guest">
    <span>320 Guests</span>
</div>
<div class="social-icon">
    <ul>
        <li>
            <a href="#">
                <img src="../../../assets/images/whatsapp.png" alt="whatsapp icon">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../../assets/images/facebook-event.png" alt="facebook icon">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../../assets/images/call-event.png" alt="call icon">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../../assets/images/G.png" alt="g icon">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../../assets/images/invited-guest-menu.png" alt="Guest menu icon">
            </a>
        </li>
    </ul>
</div>
<div class="guest-list-box">
    <ul class="guest-list-inner-box">
        <li *ngFor="let name of displayGuest; let i =index">
            <div class="profile-name">
                <span>{{firstLetter[i] | titlecase}}{{secondLetter[i] | titlecase}}</span>
            </div>
            <div class="guest-name">
                <p>{{name.firstName | titlecase}} {{name.lastName | titlecase}} </p>
            </div>
        </li>
    </ul>
</div>