<div class="social-icon" *ngIf="isDisplay">
    <div class="masthead">
        <div class="masthead-search">
            <label for="masthead-search-toggle" class="masthead-search-toggle">Toggle Search</label>
            <input type="checkbox" id="masthead-search-toggle" class="isHidden" />
            <div class="masthead-search-indicator"></div>
            <div class="masthead-search-search">
                <label for="masthead-search-search" class="isHidden">Search</label>
                <input type="text" id="masthead-search-search" [(ngModel)]="searchText" (keyup)="onKey(searchText)" placeholder="Search" />
            </div>
        </div>
    </div>

    <ul *ngIf="isDisplay">
        <li>
            <a tooltipClass="my-custom-class" ngbTooltip="Download" (click)="downLoad()">
                <img src="assets/images/download.png" alt="download icon">
            </a>
        </li>
        <li>
            <a href="#" tooltipClass="my-custom-class" ngbTooltip="Print">
                <img src="assets/images/printer.png" alt="printer icon">
            </a>
        </li>
        <li>
            <a href="#" tooltipClass="my-custom-class" ngbTooltip="Share" data-toggle="modal" data-target="#shareIconButton">
                <img src="assets/images/share.png" alt="share icon">
            </a>
        </li>
        <li>
            <a href="#" tooltipClass="my-custom-class" ngbTooltip="Total Guest"><span>{{displayGuestItems.length}}</span> Guests</a>
        </li>
    </ul>
</div>
<div class="guest-list-box">
    <p class="text-center" id="message"></p>
    <div class="text-center empty-message" *ngIf="noListMessage">
        <img src="../../../assets/images/no-user.gif" alt="no-user">
        <p>{{noListMessage}}</p>
    </div>
    <div class=" guest-list-box-scroll ">
        <div class="accordion " id="accordionExample ">
            <span *ngFor="let item of displayGuestItems; let i=index ">
                <button class="btn w-100 " data-toggle="collapse " aria-controls="collapseOne "
                    [attr.data-target]=" '#collapseOne' + i " (click)="current=i ">
                    <div class="inner-header ">
                        <div class="profile-name ">
                            <span>{{firstLetter[i] | titlecase}}{{secondLetter[i] | titlecase}}</span>
        </div>
        <div class="guest-name ">
            <h1>{{item.firstName}} {{item.lastName}}</h1>
        </div>
    </div>
    </button>
    <div id="collapseOne{{i}} " [class.collapse]='current !=i' class="collapse show " aria-labelledby="headingOne " data-parent="#accordionExample ">
        <div class="info-box ">
            <div class="row m-0 ">
                <div class="col-sm-4 ">
                    <div class="info ">
                        <img src="assets/images/location-guest.png " alt="location icon ">
                        <p>{{item.address}}</p>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="info ">
                        <img src="../../../assets/images/call-guest.png " alt="call icon ">
                        <p>{{item.phoneNo}}</p>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="info ">
                        <img src="../../../assets/images/message-guest.png " alt="message icon ">
                        <p>{{item.email}}</p>
                    </div>
                </div>
            </div>
        </div>
        <ul class="mt-3 ">
            <li class="guest-single-item " *ngFor="let final of item.items ">
                <div class="guest-item-name ">
                    <p> {{final.quantity}} {{final.itemId.itemName}}</p>
                </div>
                <div class="guest-event-name ">
                    <p>{{final.itemId.activityId.activityName}}</p>
                </div>
                <div class="guest-item-price ">
                    <p>{{final.itemId.itemPrice * final.quantity | currency:"&#x20A6;&nbsp; "}}</p>
                </div>
            </li>
        </ul>
    </div>
    </span>
</div>
</div>
</div>

<!-- share icon modal start -->
<div class="modal fade" id="shareIconButton" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Share with</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                icons here
            </div>
        </div>
    </div>
</div>