<div class="myEvent-slider-box">
    <!-- <div class="add-event">
        <button class="btn">+</button>
    </div> -->
    <div class="myEvent-slider">
        <div class="myEvent-single-slide" *ngFor="let name of displayList; let i =index">
            <div class="myEvent-name" (click)="getSingleEvent(name._id , i)">
                <p>{{name.eventTitle}}</p>
            </div>
        </div>
    </div>
</div>





<div class="myEvent-slider-box" *ngIf="activityList && activityList.length">
    <!-- <div class="add-event">
        <button class="btn">+</button>
    </div> -->
    <div class="myEvent-slider">
        <div class="myEvent-single-slide" *ngFor="let name of activityList">
            <div class="myEvent-name" (click)="getSingleActivity(name.group )">
                <p>{{name.activityName}}</p>
            </div>
            <p class="text-center text-white">{{name.activityStartDate | date :'dd-MM-yyyy'}}</p>
        </div>
    </div>
</div>





<div class="myEvent-slider-box groupOfEvent" [hidden]="!isGroup">
    <!-- <div class="add-event">
        <button class="btn">+</button>
    </div> -->
    <div class="myEvent-slider">
        <div class="myEvent-single-slide" *ngFor="let name of groupOfActivity">
            <div class="myEvent-name" (click)="getGroupItem(name.item)">
                <p>{{name.groupName}}</p>
            </div>
        </div>
    </div>
</div>