.share-link {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.68);
    border-radius: 10px;
    text-align: center;
    padding: 10px 0 8px;
    margin: 10px 0;
}

.share-link h3 {
    color: #545454;
    line-height: 50px;
    font-weight: 600;
}

.tab-name {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.tab-name p {
    color: #FE983A;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tab-name.active {
    background-color: #F8D0AD;
}

/* .tab-message-box {
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    padding: 30px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
} */
textarea{
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.26);
    border: none;
    margin: 10px 0;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
    resize: none;
}
textarea::placeholder{
    color: #e0d8d8;
}

.tab-message-box p {
    width: 70%;
    margin: auto;
}

.share-button button {
    border: 3px solid #F8D0AD;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    color: #F8D0AD;
    margin-top: 15px;
}

/* step 2 start*/

.social-icon ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
}

.social-icon ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

/* step 2 end*/

/* step 3 start */
.send-message {
    display: inline-block;
    width: 100%;
}
.send-message p {
    color: #F8D0AD;
    font-size: 24px;
    font-weight: bold;
    margin-right: 5px;
}
.send-date, .send-time {
    background: #fff;
    color: #9B602A;
    font-weight: bold;
    border-radius: 6px;
    width: 70px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
span.middle {
    color: #fff;
    margin: 0 6px;
    font-size: 25px;
}
/* step 3 end */

/* step 4 start */
.to {
    float: left;
    width: 60px;
}
.to h3{
    color: #fff;
    font-weight: 600;
}
.all {
    padding-left: 60px;
}
/* step 4 end */

@media(max-width: 1600px){
    .share-link {
        padding: 6px 0 4px;
    }
    .share-link h3, .tab-name p {
        line-height: 40px;
        font-size: 22px;
    }
    textarea{
        font-size: 22px;
        height: 150px;
    }
    .share-button button {
        border: 2px solid #F8D0AD;
        font-size: 22px;
    }
}