<div class="share-link">
    <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
    <!-- <h3>{{displayEventLink}}</h3> -->
    <input type="text" #inputTarget [(ngModel)]="displayEventLink" tooltipClass="my-custom-class" ngbTooltip="" readonly>
    <i tooltipClass="my-custom-class" ngbTooltip="Copy to Clipboard" class="fa fa-link" [ngxClipboard]="inputTarget" aria-hidden="true" (click)="changeSuccessMessage()"></i>
</div>


<div class="my-event-tab-slider my-2">
    <div class="single-tab-slide" *ngFor="let name of eventLinkMenu; let i =index" (click)="selectedMenu(i)">
        <div class="tab-name" [class.active]="selectedIndex == i" id={{i}}>
            <p data-container="body" tooltipClass="my-custom-class" ngbTooltip="{{name}}">{{name}}</p>
        </div>
    </div>
</div>
<!-- step 1 start invitation-->
<div class="step-1-link" *ngIf="index == 0">
    <div class="textarea-box">
        <textarea name="" id="" rows="1" placeholder="Enter your Invitation message to accompany your Event link" [(ngModel)]="invitatationMessage" (blur)="addInvitationMesage()"></textarea>
        <input type="text" class="bottom-link" readonly placeholder="{{displayEventLink}}">
    </div>
    <div class="share-button">
        <button class="btn" (click)="shareLink(1)">Share <i class="fa fa-share" aria-hidden="true"></i>
        </button>
    </div>
</div>
<!-- step 1 end -->
<!-- step 2 start welcome-->
<div class="step-2-link" *ngIf="index == 4">
    <div class="textarea-box">
        <textarea class="text-white" [(ngModel)]="welcomeMessage" (blur)="addWelcomeMessage()"></textarea>
    </div>
</div>
<!-- step 2 end -->
<!-- step 3 start pay-->
<div class="step-2-link" *ngIf="index == 5">
    <div class="textarea-box">
        <textarea class="pay-input" type="text" [(ngModel)]="payMessage" (blur)="enterPayMessage()" placeholder="Enter message for guests after payment has been made e.g. Thank you for buying our aso ebi. We can’t wait to see you in all your loveliness."></textarea>
    </div>
    <div class="share-button">
        <button class="btn">Share <i class="fa fa-share" aria-hidden="true"></i>
        </button>
    </div>
</div>
<!-- step 3 end -->
<!-- step 4 start -->
<div class="step-2-link" *ngIf="index == 1">
    <div class="textarea-box">
        <textarea name="" id="" rows="2" placeholder="{{invitatationMessage}} {{displayEventLink}}"></textarea>
    </div>
    <div class="social-icon">
        <!-- <share-buttons theme="material-dark" show="11" image="https://loremflickr.com/320/240"></share-buttons> -->
        <ul>
            <li>
                <share-button tooltipClass="my-custom-class" ngbTooltip="Whatsapp" [theme]="'circles-dark'" [button]="'whatsapp'" [url]="whatsupLink">
                </share-button>
            </li>
            <li>
                <share-button tooltipClass="my-custom-class" ngbTooltip="facebook" [theme]="'circles-dark'" [button]="'facebook'" [url]="faceBookLink">
                </share-button>
            </li>
            <li>
                <share-button tooltipClass="my-custom-class" ngbTooltip="Email" [theme]="'circles-dark'" [button]="'email'" [url]="googleLink"></share-button>
            </li>
            <li>

                <share-button tooltipClass="my-custom-class" ngbTooltip="SMS" [theme]="'circles-dark'" [button]="'sms'" [url]="textMessageLink"></share-button>
            </li>
            <li>
                <!-- <a href="#">
                    <img src="../../../assets/images/G.png" alt="G icon">
                </a> -->
            </li>
        </ul>
    </div>
</div>
<!-- step 4 end -->
<!-- step 5 start -->
<div class="step-3-link" *ngIf="index == 2">
    <form [formGroup]="reminderForm">
        <div class="textarea-box">
            <textarea name="" id="" rows="1" (blur)="reminderMessageAdd()" formControlName="reminderMessage" placeholder="Enter message to send to guests that have not yet bought your aso ebi." ngModel="{{reminderDetails ? reminderDetails.reminderMessage : ''}}"></textarea>
        </div>
        <div class="send-message">
            <div class="float-left d-flex">
                <p>Send on:</p>
                <div class="send-date mr-2" (click)="picker.open()">
                    <span>{{displayDate | date : 'dd'}}</span>
                </div>
                <div class="send-date mr-2" (click)="picker.open()">
                    <span>{{displayDate | date : 'MM'}}</span>
                </div>
                <div class="send-date" (click)="picker.open()">
                    <span>{{displayDate  | date : 'yyyy'}}</span>
                </div>
                <mat-form-field style="visibility:hidden; float: left; height: 0px;width: 0;">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" [min]="currentDay" formControlName="reminderStartDate" (blur)="reminderdate()" (dateChange)="addEvent('input', $event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="float-right d-flex">
                <p>at :</p>
                <div class="send-time" (click)="default.open()">
                    <span>{{hours}}</span>
                </div> <span class="middle">:</span>
                <div class="send-time" (click)="default.open()">
                    <span>{{minutes}}</span>
                </div>
                <span class="pm-am">{{timeHour}}</span>
                <span class="zone">{{timezone}}</span>
                <ngx-material-timepicker #default (closed)="timePickerClosed()" [format]="12" (timeChanged)="timeChanged($event)">
                </ngx-material-timepicker>
            </div>
        </div>
        <!-- </div> -->
        <div class="to">
            <h3>to :</h3>
        </div>
        <div class="all" *ngIf="!reminderDetails">
            <div class="group-box">
                <input type="radio" id="allList" name="radio-group2" (change)="selectList($event)">
                <label class="w-100" for="allList">all invited guests</label>
                <input type="radio" name="radio-group2" id="buyList" (change)="selectList($event)">
                <label class="w-100" for="buyList">only guests that bought aso ebi</label>
            </div>
        </div>
        <div class="all" *ngIf="reminderDetails">
            <div class="group-box">
                <input type="radio" id="allList" name="radio-group2" checked="{{reminderDetails.guestList?isAll:''}}" (change)="selectList($event)">
                <label class="w-100" for="allList">all invited guests</label>
                <input type="radio" name="radio-group2" id="buyList" (change)="selectList($event)" checked="{{reminderDetails.guestList?isOnly:''}}">
                <label class="w-100" for="buyList">only guests that bought aso ebi</label>
            </div>
        </div>
        <div class="share-button">
            <button class="btn" (click)="reminderDetails? updateReminder(1):  reminderMessageSend(1)">Share <i
                    class="fa fa-share" aria-hidden="true"></i>
            </button>
        </div>
    </form>
</div>
<!-- (click)="createdEventDetails? updateEvent(): addEvent()" -->
<!-- step 5 end -->

<!-- step 6 start -->
<div class="step-4-link" *ngIf="index == 3">
    <form [formGroup]="afterEventForm">
        <div class="textarea-box">
            <textarea name="" id="" rows="2" placeholder="Together with our parents,thank you for your presence, purchase,presents and prayers." formControlName="afterEventMessage" ngModel="{{afterEventMessage ? afterEventMessage.afterEventMessage : ''}}" (blur)="checkAfterMessage()"></textarea>
            <a (click)="openModel()"><img class="attach-img" src="../../../assets/images/attach-img.png" alt="attachment icon"></a>
        </div>
        <div class="to">
            <h3>to :</h3>
        </div>
        <div class="all" *ngIf="!afterEventMessage">
            <div class="group-box">
                <input type="radio" name="radio-group1" id="totalList" value="totalList" (change)="afterEventList($event)">
                <label class="w-100" for="totalList">all invited guests</label>
                <input type="radio" name="radio-group1" value="onlyBuy" id="onlyBuy" (change)="afterEventList($event)">
                <label class="w-100" for="onlyBuy">only guests that bought aso ebi</label>
            </div>
        </div>
        <div class="all" *ngIf="afterEventMessage">
            <div class="group-box">
                <input type="radio" id="totalList" name="radio-group2" checked="{{afterEventMessage.listOfGuest?afterAll:''}}" (change)="afterEventList($event)">
                <label class="w-100" for="totalList">all invited guests</label>
                <input type="radio" name="radio-group2" id="onlyBuy" (change)="afterEventList($event)" checked="{{afterEventMessage.listOfGuest?afterBuy:''}}">
                <label class="w-100" for="onlyBuy">only guests that bought aso ebi</label>
            </div>
        </div>
    </form>
    <div class="share-button">
        <button class="btn" (click)="afterEventMessageSend(1)">Share <i class="fa fa-share" aria-hidden="true"></i>
        </button>
    </div>
</div>
<!-- step 6 end -->





<!-- image upload modal start -->
<div class="modal fade my-event-info" id="infoItemModal" tabindex="-1" role="dialog" aria-labelledby="infoItemModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Upload Attachment</h5>
                <button type="button" class="close p-3" style="line-height: normal;" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body border-top">
                <div class="attachment-img">
                    <img id="imageFilter" [src]="imgURL" onerror="this.src='/assets/images/image.png'">
                </div>
            </div>
            <div class="modal-footer">
                <div class="choose_image w-100 text-center">
                    <label for="upload_attachment">Choose Image</label>
                    <input type="file" (change)="addFile($event.target.files)" accept="image/png, image/png, image/png" id="upload_attachment">
                </div>
                <div class="save text-right">
                    <button class="btn" (click)="AddAttchment()">Add Attchment</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- image upload modal end -->