<app-all-slider [activityList]="listOfActivity" [groupOfActivity]="null" (activityGroup)="getActivityGroup($event)">
</app-all-slider>
<app-all-slider [groupOfActivity]="groupOfActivity" (groupItem)="getSingleGroupItem($event)"></app-all-slider>

<div class="myevent-activity-box" *ngIf="displayItem">
    <div class="group-box">
        <input type="radio" name="radio-group1" id="test" (change)="handleChange($event)" value="male" checked>
        <label class="mr-3" for="test">male</label>
        <input type="radio" name="radio-group1" (change)="handleChange($event)" value="female" id="test6">
        <label for="test6">female</label>
    </div>
    <div class="myevent-groups-item">
        <div class="myevent-group">
            <div class="myevent-single-item" *ngFor="let item of itemNamePrint">
                <span class="items-name" tooltipClass="my-custom-class" ngbTooltip="{{item.itemName}}">{{item.itemName}}</span>
                <span class="items-price">{{item.itemPrice}}</span>
            </div>
        </div>
    </div>
</div>