<div class="myevent-activity-box">
    <div class="group-box">
        <input type="radio" name="radio3" id="test5" value="test5" checked>
        <label class="mr-3" for="test5">male</label>
        <input type="radio" name="radio3" id="test6">
        <label for="test6">female</label>
    </div>
    <div class="myevent-groups-item">
        <div class="myevent-group">
            <div class="myevent-single-item">
                <span class="items-name" title="male item 1">male item 1</span>
                <span class="items-price" title="4500">4500</span>
            </div>
            <div class="remove-item text-center">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <div class="myevent-group">
            <div class="myevent-single-item">
                <span class="items-name">male item 1 male item 1male item 1male item 1male item 1male item 1male item 1</span>
                <span class="items-price">4500450045004500450045004500</span>
            </div>
            <div class="remove-item text-center">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <div class="myevent-group">
            <div class="myevent-single-item">
                <span class="items-name">male item 1</span>
                <span class="items-price">4500</span>
            </div>
            <div class="remove-item text-center">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <div class="myevent-group">
            <div class="myevent-single-item">
                <span class="items-name">male item 1</span>
                <span class="items-price">4500</span>
            </div>
            <div class="remove-item text-center">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <div class="myevent-group">
            <div class="myevent-single-item">
                <span class="items-name">male item 1</span>
                <span class="items-price">4500</span>
            </div>
            <div class="remove-item text-center">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <div class="myevent-group">
            <div class="myevent-single-item">
                <span class="items-name">male item 1</span>
                <span class="items-price">4500</span>
            </div>
            <div class="remove-item text-center">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>