<!-- step 1 start -->
<section class="join-enter-main">
    <div class="andco-logo">
        <a href="#"><img src="../../assets/images/andco_logo.png" alt="andco logo"></a>
    </div>
    <div class="join-fl-name">
        <div class="join-enter">
            <a routerLink="/signUp" class="float-left">join</a>
            <a routerLink="/login" class="float-right">enter</a>
        </div>
        <div class="join-enter-quote">
            <p>It’s nice to meet you</p>
        </div>
        <div class="join-enter-inputs">
            <input type="text" placeholder="Forename">
            <input type="text" placeholder="Lastname">
        </div>
        <div class="join-submit w-100 text-center">
            <button class="btn">Hello</button>
        </div>
    </div>
</section>
<!-- step 1 end -->
<!-- step 2 start -->
<section class="join-enter-main">
    <div class="andco-logo">
        <a href="#"><img src="../../assets/images/andco_logo.png" alt="andco logo"></a>
    </div>
    <div class="join-with-your-social">
        <div class="join-enter">
            <a routerLink="/signUp" class="float-left">join</a>
            <a routerLink="/login" class="float-right">enter</a>
        </div>
        <div class="join-enter-quote">
            <p>join with your</p>
        </div>
        <div class="join-social">
            <ul>
                <li>
                    <a href="#">
                        <img src="../../assets/images/gmail.png" alt="facebook">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../assets/images/facebook.png" alt="facebook">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../assets/images/message.png" alt="facebook">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- step 2 end -->
<!-- step 3 start -->
<section class="join-enter-main">
    <div class="andco-logo">
        <a href="#"><img src="../../assets/images/andco_logo.png" alt="andco logo"></a>
    </div>
    <div class="join-with-your-email">
        <div class="join-enter">
            <a routerLink="/signUp" class="float-left">join</a>
            <a routerLink="/login" class="float-right">enter</a>
        </div>
        <div class="join-social">
            <ul>
                <li>
                    <a href="#">
                        <img src="../../assets/images/gmail.png" alt="facebook">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../assets/images/facebook.png" alt="facebook">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../assets/images/message.png" alt="facebook">
                    </a>
                </li>
            </ul>
        </div>
        <div class="join-enter-inputs">
            <input type="text" placeholder="Your email address">
        </div>
        <div class="join-submit w-100 text-center">
            <button class="btn join-submit">Go</button>
        </div>
    </div>
</section>
<!-- step 3 end -->
<!-- step 4 start -->
<section class="join-enter-main">
    <div class="andco-logo">
        <a href="#"><img src="../../assets/images/andco_logo.png" alt="andco logo"></a>
    </div>
    <div class="join-with-your-code">
        <div class="join-enter">
            <a routerLink="/signUp" class="float-left">join</a>
            <a routerLink="/login" class="float-right">enter</a>
        </div>
        <div class="join-enter-quote">
        </div>
        <div class="join-social">
            <ul>
                <li>
                    <a href="#">
                        <img src="../../assets/images/gmail.png" alt="facebook">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../assets/images/facebook.png" alt="facebook">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../assets/images/message.png" alt="facebook">
                    </a>
                </li>
            </ul>
        </div>
        <div class="join-enter-inputs">
            <input type="text" placeholder="Enter code sent">
        </div>
        <div class="join-submit w-100 text-center">
            <button class="btn join-submit">Back</button>
            <button class="btn join-submit ml-3">Almost done</button>
        </div>
    </div>
</section>
<!-- step 4 end -->
<!-- step 5 start -->
<section class="join-enter-main">
    <div class="andco-logo">
        <a href="#"><img src="../../assets/images/andco_logo.png" alt="andco logo"></a>
    </div>
    <div class="join-enter-password">
        <div class="join-enter">
            <a routerLink="/signUp" class="float-left">join</a>
            <a routerLink="/login" class="float-right">enter</a>
        </div>
        <div class="join-enter-quote">
        </div>
        <div class="join-social">
            <ul>
                <li>
                    <a href="#">
                        <img src="../../assets/images/gmail.png" alt="facebook">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../assets/images/facebook.png" alt="facebook">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../assets/images/message.png" alt="facebook">
                    </a>
                </li>
            </ul>
        </div>
        <div class="join-enter-inputs">
            <input type="password" placeholder="Create your password">
            <input type="password" placeholder="kindly confirm">
        </div>
        <div class="join-submit w-100 text-center">
            <button class="btn join-submit">one more step</button>
        </div>
    </div>
</section>
<!-- step 5 end -->