<div class="group-header">
    <div class="add-group">
        <button class="btn" data-toggle="modal"
        data-target="#addGroupItemModal">+</button>
    </div>
    <div class="group-slider">
        <div class="group-single-slide active">
            <div class="group-name">
                <span>Family</span>
            </div>
        </div>
        <div class="group-single-slide">
            <div class="group-name">
                <span>Friend</span>
            </div>
        </div>
        <div class="group-single-slide">
            <div class="group-name">
                <span>Family</span>
            </div>
        </div>
        <div class="group-single-slide">
            <div class="group-name">
                <span>Friend</span>
            </div>
        </div>
        <div class="group-single-slide">
            <div class="group-name">
                <span>Family</span>
            </div>
        </div>
        <div class="group-single-slide">
            <div class="group-name">
                <span>Friend</span>
            </div>
        </div>
    </div>
</div>