<div class="group-header" *ngIf="isDisable">
    <div class="add-group">
        <button class="btn" data-toggle="modal" (click)="addNewGroup()">+</button>
    </div>
    <div class="group-slider">
        <div class="group-single-slide" *ngFor="let item of selectedActivity.groups, let i = index; ">
            <div class="group-name" (click)="sendData(item , i)" [class.active]="selectedIndex === i">
                <span data-container="body" tooltipClass="my-custom-class" ngbTooltip="{{item.groupName}}">{{item.groupName}}</span>
            </div>
            <!-- <div *ngIf="i != 1 && i !=0">
                <div class="remove-group" (click)="removeGroup(i)">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </div>
            </div> -->
            <div class="remove-group">
                <button class="btn" data-container="body" tooltipClass="my-custom-class" ngbTooltip="Edit and Delete group" data-toggle="modal" (click)="openEditModel(item)">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- add group modal content end -->



<!-- add group modal content start -->
<div class="modal" id="addGroupItemModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="add-items">
                    <input type="text" (input)="addNewGroupIn($event)" placeholder="Enter guest group name" [(ngModel)]="groupName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn add-btn m-auto" data-dismiss="modal" (click)="addGroup(groupName)" [disabled]="!isButton">Add</button>
            </div>
        </div>
    </div>
</div>
<!-- add group modal content end -->

<!-- delete and edit modal start -->
<div class="modal fade" id="editDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header py-2">
                <button type="button" class="close" (click)="closeModel()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <div class="add-items" *ngIf="editGroupName">
                    <input class="mb-0" type="text" (input)="editGroup($event)" [(ngModel)]="editGroupName.groupName">
                </div>
                <div id="message" style="color: red;"></div>
            </div>
            <div class="modal-footer m-auto">
                <button type="button" class="btn delete" data-dismiss="modal" (click)="deleteGroup()">Delete</button>
                <button type="button" class="btn edit" [disabled]="!isButton" (click)="editGroupNameOf()">Edit</button>
            </div>
        </div>
    </div>
</div>
<!-- delete and edit modal end -->