.gift-donation-msg p{
    font-family: 'Advent Pro', 'sans-sarif';
    font-size: 26px;
    color: #fff;
    width: 70%;
    margin: auto;
    text-align: center;
}
.gift-donation-msg h3{
    text-align: center;
    color: #fff;
    margin: 40px 0 20px;
}
.gift-donation-msg h3 input {
    border: none;
    padding: 8px 20px 4px;
    text-align: right;
}
.save button{
    font-size: 22px;
}
.bottom-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 4%;
    right: 4%;
}
.bottom-buttons button{
    color: var(--next-skip-back-color);
    font-weight: bold;
    font-family: 'Advent Pro', 'sans-sarif';
    font-size: 20px;
}
.bottom-buttons i{
    font-size: 26px;
}

@media(max-width:1366px){
    .gift-donation-msg h3{
        margin: 20px 0;
    }
}
@media(max-width:1199px){
    .gift-donation-msg p,
    .gift-donation-msg h3{
        font-size: 22px;
    }
}
@media(max-width:575px){
    .gift-donation-msg p{
        width: 100%;
    }
    .gift-donation-msg h3{
        margin: 40px 0 0;
    }
    .bottom-buttons{
        bottom: 2%;
    }
}
@media(max-width:400px){
    .gift-donation-msg h3 input{
        padding: 5px;
    }
    .bottom-buttons button {
        font-size: 16px;
    }
    .gift-donation-msg h3 input {
        width: 100%;
    }
    .gift-donation-msg h3{
        margin: 30px 0;
    }
}