<div class="gift-donation-msg">
    <p>Thank you so much. <br>
        Planning on getting us a present?<br>
        We are grateful. Gifts will not be accepted,
        but your financial gift is very much appreciated.
    </p>
    <h3>I Give : <input type="text" placeholder=":00"> </h3>
    <div class="save text-center">
        <button class="btn font-weight-bold">Saved</button>
    </div>
    <div class="bottom-buttons my-4">
        <button class="btn"><i class="fa fa-angle-double-left mr-2" aria-hidden="true"></i> Back</button>
        <button class="btn">Skip</button>
        <button class="btn">Next <i class="fa fa-angle-double-right ml-2" aria-hidden="true"></i></button>
    </div>
</div>