.join-enter-main {
    background-image: url('../../assets/images/join.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .join-enter {
    width: 100%;
    display: inline-block;
    padding: 10% 50px;
  }
  
  .join-enter a.float-left, .join-enter a.float-right {
    font-size: 40px;
    font-weight: bold;
  }
  
  .join-enter a.float-left {
    color: #5D8B60;
  }
  
  .join-enter a.float-right {
    color: #000000;
  }
  .join-enter-inputs {
    text-align: center;
    margin-top: 20px;
  }
  
  .join-enter-inputs input::placeholder {
    color: #ACC9B1 !important;
    font-size: 30px;
    font-weight: 400;
  }
  
  .join-enter-inputs input {
    font-family: 'Advent Pro', 'sans-sarif';
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #2B879B;
    width: 80%;
    height: 50px;
    font-size: 40px;
    margin-bottom: 20px;
    color: #528D69;
    font-weight: 600;
  }
  
  .join-enter-inputs input:focus {
    box-shadow: none;
  }
  
  .join-submit button {
    background-color: #528D69;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 7px 30px;
    outline: none;
  }
  .join-enter-password{
    width: 585px;
    height: 585px;
  }