<section class="join-enter-main" >
    <div class="andco-logo">
        <a href="#"><img src="assets/images/andco_logo.png" alt="andco logo"></a>
    </div>
    <div class="join-enter-password">
        <div class="join-enter">
            <a routerLink="/signUp" class="float-left">join</a>
            <a routerLink="/login" class="float-right">enter</a>
        </div>
        <div class="join-enter-quote">
        </div>
        <!-- <form [formGroup]="signUpForm" autocomplete="off"> -->
            <div class="join-enter-inputs">
                <input type="password" placeholder="Create your password" formControlName="password">
                <input type="password" formControlName="confirmPassword" placeholder="kindly confirm">
            </div>
        <!-- </form> -->
        <div class="join-submit w-100 text-center">
            <button class="btn join-submit" >one more
                step</button>
        </div>
    </div>
</section>