<section class="join-enter-main">
    <app-loader *ngIf="isLoad"></app-loader>
    <div class="andco-logo">
        <a href="#"><img src="assets/images/andco_logo.png" alt="andco logo"></a>
    </div>
    <div class="join-enter-password">
        <div class="join-enter">
            <a routerLink="/signUp" class="float-left">join</a>
            <a routerLink="/login" class="float-right">enter</a>
        </div>
        <div class="join-enter-quote">
        </div>
        <form [formGroup]="forgotPasswordForm" autocomplete="off">
            <div class="join-enter-inputs">
                <div class="input_with_icont">
                    <input type="password" placeholder="Create your password" id="pwd1" formControlName="newPassword"
                        [type]="show1 ? 'text' : 'password'"
                        [ngClass]="{ 'is-invalid': f.newPassword.touched && f.newPassword.errors }">
                    <span toggle="#password-field" class="fa fa-fw fa-eye-slash field-icon toggle-password"
                        (click)="password1()"></span>
                    <div *ngIf="f.newPassword.touched && f.newPassword.errors" class="invalid-feedback text-white">
                        <div *ngIf="f.newPassword.errors.required">Password is required</div>
                        <div *ngIf="f.newPassword.errors.minlength">Password must contain atleast 6
                            characters</div>
                        <div *ngIf="f.newPassword.errors.maxlength">Password must be only 20 characters
                        </div>
                    </div>
                </div>
                <div class="input_with_icont">
                    <input type="password" formControlName="confirmPassword" id="pwd2" placeholder="kindly confirm"
                        formControlName="confirmPassword" (input)="comparePassword(forgotPasswordForm)"
                        [type]="show2 ? 'text' : 'password'">
                    <span toggle="#password-field" class="fa fa-fw fa-eye-slash field-icon toggle-password"
                        (click)="password2()"></span>
                </div>
            </div>
        </form>
        <div class="join-submit w-100 text-center">
            <button class="btn join-submit" (click)="resetPassword()"
                [disabled]="forgotPasswordForm.invalid || isDisable">one more
                step</button>
        </div>
    </div>
</section>