<div class="total-slider">
    <div class="total-slide">
        <h1>2,857,232.00</h1>
    </div>
    <div class="total-collection-slider">
        <div class="total-activity-box" *ngFor="let item of displayCollection; let i =index">
            <div class="inner-div">
                <h1>{{item._id}} ({{item.total | currency:"&#x20A6;"}})
                </h1>
                <!-- <span class="open-close">closed</span> -->

                <!-- <ul class="nav nav-tabs w-100 mt-sm-3">
                    <li class="nav-item" *ngFor="let group of item.finalGroup; let j =index">
                        <a class="nav-link"  data-toggle="tab"
                            (click)="openTab(j, i,group)">{{group.groupName}}</a>
                    </li>
                    <li>
                       <a class="nav-link" data-toggle="tab" href="#y">Y</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="{{tabId}}" class="tab-pane" *ngFor="let group of item.finalGroup; let j =index"><br>
                        <div class="row">
                            {{tabId}} TAB OPEN - data of - {{j}}
                            <div class="col-sm-2">
                                <span>male</span>
                            </div>
                            <div class="col-sm-10">
                                <span>{{group.maleTotal}}</span>
                            </div>
                            <div class="col-sm-2">
                                <span>female</span>
                            </div>
                            <div class="col-sm-10">
                                <span>{{group.femaleTotal}}</span>
                            </div>
                        </div>
                    </div>
                    
                </div> -->
                <mat-tab-group>
                    <mat-tab label="{{group.groupName}}" *ngFor="let group of item.finalGroup;">
                        <div class="collection-tab">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <span>male</span>
                                </div>
                                <div class="col-sm-10">
                                    <span>{{group.maleTotal | currency:"&#x20A6;"}}</span>
                                </div>
                                <div class="col-sm-2">
                                    <span>female</span>
                                </div>
                                <div class="col-sm-10">
                                    <span>{{group.femaleTotal | currency:"&#x20A6;"}}</span>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <!-- <div class="total-activity-box">
            <div class="total-second-slide">
                <h4>Total</h4>
                <div class="total-amount">
                    <h1>2,857,232.00</h1>
                </div>
            </div>
        </div> -->
        <div class="total-activity-box">
            <div class="total-second-slide">
                <div class="row">
                    <div class="col-5">
                        <span>all activities</span>
                    </div>
                    <div class="col-7">
                        <span class="text-orange">205,011.00</span>
                    </div>
                    <div class="col-5">
                        <span>gifts</span>
                    </div>
                    <div class="col-7">
                        <span class="text-orange">205,011.00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>