<div class="total-slider">
    <div class="total-slide">
        <h1>2,857,232.00</h1>
    </div>
    <div class="total-activity-box">
        <h1>Engagement (2,857,232.00)</h1>
        <span>closed</span>
        <ul class="nav nav-tabs w-100 mt-3">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#all">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#friend">Friend</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#family">Family</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#social-group">Social Group</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="all" class="tab-pane active"><br>
                <div class="row">
                    <div class="col-2">
                        <span>male</span>
                    </div>
                    <div class="col-10">
                        <span>205,011.00</span>
                    </div>
                    <div class="col-2">
                        <span>female</span>
                    </div>
                    <div class="col-10">
                        <span>205,011.00</span>
                    </div>
                </div>
            </div>
            <div id="friend" class="tab-pane fade"><br>
                friend
            </div>
            <div id="family" class="tab-pane fade"><br>
                family
            </div>
            <div id="social-group" class="tab-pane fade"><br>
                social-group
            </div>
        </div>
    </div>
</div>