/*common css start*/

@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Manjari&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: 'Manjari', sans-serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0
}

ul {
    padding: 0;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none!important;
    outline: none!important;
    cursor: pointer;
}

button {
    outline: none !important;
}

button:focus {
    box-shadow: none !important;
}

:disabled {
    cursor: not-allowed;
}

.invalid-feedback {
    font-size: 18px;
    margin-top: -10px;
}
.modal-header ,.modal-content ,.modal-footer{
    border: none !important;
}
.modal-content{
    border-radius: 30px !important;
}

/* Show password css start */

.input_with_icont {
    position: relative;
}

.input_with_icont span {
    position: absolute;
    top: 0;
    right: 60px;
    margin: auto;
    z-index: 11;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.input_with_icont:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 52px;
    margin: auto;
    background-color: #d6d6d6;
    z-index: 11;
}

/* Show password css end */

/* autofill css start for chrome*/

.join-enter-inputs input:-webkit-autofill, .join-enter-inputs input:-webkit-autofill:hover, .join-enter-inputs input:-webkit-autofill:focus, .join-enter-inputs input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #7CBBCD inset !important;
    -webkit-text-fill-color: #FFFFFF !important;
}
/* autofill css end for chrome*/

/*common css end*/

.page-content {
    min-height: calc(100vh - 226px);
    -ms-flex-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 232px;
}

/* create event css start here */

.create-event-slider .slick-arrow.slick-disabled {
    display: none !important;
}

.slick-slide {
    outline: none !important;
    box-shadow: none !important;
}

.create-event-slider button.prevarrow.slick-arrow, .create-event-slider button.nextarrow.slick-arrow {
    background-color: #9D3742;
    color: #fff;
    font-size: 22px;
    padding: 7px 73px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 10px;
    position: absolute;
    bottom: -70px;
    z-index: 12;
}

.create-event-slider button.prevarrow.slick-arrow {
    left: 0;
}

.create-event-slider button.nextarrow.slick-arrow {
    right: 0;
}

/* create event css start here */

/* set-price css start here */

.set-price-main-slider button.prevarrow.slick-arrow, .set-price-main-slider button.nextarrow.slick-arrow {
    background-color: #A6B138;
    color: #fff;
    font-size: 18px;
    padding: 7px 33px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 10px;
    position: absolute;
    bottom: -70px;
}

.set-price-main-slider button.prevarrow.slick-arrow {
    left: 0;
}

.set-price-main-slider button.nextarrow.slick-arrow {
    right: 0;
}

/* set-price css end here */

/* date picker css start here */

.datepicker.dropdown-menu th {
    color: #a5b138;
}
.datepicker table tr td.active.active{
    background-color: #a5b138 !important;
}
.datepicker table tr td.active{
    background-image: none !important;
}

/* date picker css end here */

/* sweet alert design start */
.swal2-popup{
    padding-top: 7% !important;
}
img.swal2-image {
    position: absolute;
    top: 5%;
}
.swal2-icon-success.swal2-show .swal2-title {
    color: #70aa87;
}
.swal2-icon.swal2-success [class^=swal2-success-line]{
    background-color: #70aa87;
}
.swal2-icon-error.swal2-show .swal2-title {
    color: #dfa099;
}
.swal2-icon.swal2-error [class^=swal2-x-mark-line]{
    background-color: #dfa099 !important;
}
.swal2-icon.swal2-error{
    border-color: #dfa099 !important;
    color: #dfa099 !important;
}
/* responsive css start */

@media(max-width: 1366px) {
    /* create event css start */
    .create-event-slider button.prevarrow.slick-arrow, .create-event-slider button.nextarrow.slick-arrow {
        font-size: 20px;
        padding: 3px 50px;
        bottom: -60px;
    }
    .create-event-hashtag-box input, .create-event-name-box input {
        border: 2px solid #fff;
        font-size: 25px;
        padding: 30px 0 30px 45px;
    }
    /* create  event css end */
    /* hello text */
    .hello-text h2 {
        font-size: 34px;
        max-width: 400px;
    }
    .page-content {
        padding-top: 162px;
    }
}

@media(max-width: 1199px) {
    .page-content {
        min-height: calc(100vh - 190px);
        padding-top: 190px;
    }
}

@media(max-width: 991px) {}

@media(max-width: 767px) {
    .hello-text h2 {
        max-width: 300px;
    }
    .invalid-feedback {
        font-size: 15px;
        margin-top: -15px;
    }
}

@media(max-width: 575px) {
    /* create event css start */
    .create-event-slider button.prevarrow.slick-arrow, .create-event-slider button.nextarrow.slick-arrow {
        font-size: 16px;
        padding: 3px 40px;
    }
    .create-event-slider button.prevarrow.slick-arrow, .create-event-slider button.nextarrow.slick-arrow {
        border-radius: 5px;
    }
    /* create  event css end */
    .hello-text h2 {
        font-size: 24px;
        max-width: 240px;
    }
    .page-content {
        min-height: calc(100vh - 94px);
        padding-top: 94px;
    }
    .input_with_icont span {
        right: 10px;
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .navigation_menu {
        height: 40px;
        width: 40px;
        top: 20px;
        left: 20px;
    }
    .invalid-feedback {
        font-size: 11px;
        margin-top: -7px;
    }
}

@media(max-width: 320px) {}

@media only screen and (device-width: 320px) and (device-height: 480px) {
    .create-event-slider button.prevarrow.slick-arrow, .create-event-slider button.nextarrow.slick-arrow {
        bottom: -42px;
    }
}

/* responsive css end */