<section class="guest-main-background">
    <div class="page-content">
        <div class="guest-main-box">
            <div class="guest-header text-center">
                <div class="guest-profile">
                    <img src="../../../assets/images/t-profile.png" alt="profile photo">
                </div>
                <h3>#AyoKunbi</h3>
                <h3>Ayoade and Kunbi’s wedding</h3>
            </div>
            <div class="guest-inner-box">
                <!-- <app-guest-activity-slider></app-guest-activity-slider> -->
                <app-guest-item-total></app-guest-item-total>
            </div>
        </div>
    </div>
</section>