<!-- <section class="event-activity-main">
    <div class="event-add-box">
        <div class="wrapper">
            <div class="inner-box">
                <div class="element">
                    <input type="text" placeholder="Enter activity name">
                    <button class="remove">
                        <img src="../../../assets/images/remove.png" alt="remove icon">
                    </button>
                    <div class="select-box-div">
                    <select class="custom-select">
                        <option selected>DD</option>
                        <option value="{{day.id}}" *ngFor="let day of days">{{day.name}}</option>
                    </select>
                    <select class="custom-select">
                        <option selected disabled>MM</option>
                        <option value="" *ngFor="let month of months">{{month.Name}}</option>
                    </select>
                    <select class="custom-select">
                        <option selected>YYYY</option>
                        <option value="" *ngFor="let year of years">{{year.Name}}</option>
                    </select>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                </div>
            </div>
            <div class="buttons">
                <button class="clone" (click)="addActivityField()"><i class="fa fa-plus"
                        aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</section> -->