<div class="guest-address">
    <h2>Deliver my aso ebi to:</h2>
    <div class="row">
        <div class="col-sm-6">
            <input type="text" placeholder="Name">
        </div>
        <div class="col-sm-6">
            <input type="text" placeholder="Phone No.">
        </div>
        <div class="col-12">
            <input type="email" placeholder="Email">
        </div>
        <div class="col-12">
            <textarea rows="3" placeholder="Address"></textarea>
        </div>
    </div>
    <div class="days">
        <p><span class="text-white">Day :</span> 
            <input type="checkbox" id="weekday" value="Weekday">
            <label for="weekday">Weekday</label>
            <input type="checkbox" id="Weekend" value="Weekend">
            <label for="Weekend">Weekend</label></p>
    </div>
    <div class="time">
        <p><span class="text-white">Time :</span> 
            <input type="checkbox" id="morning" value="morning">
            <label for="morning">Morning</label>
            <input type="checkbox" id="afternoon" value="afternoon">
            <label for="afternoon">Afternoon</label>
            <input type="checkbox" id="anytime" value="anytime">
            <label for="anytime">Anytime</label></p>
    </div>
    <div class="pay text-center my-3">
        <button class="btn">Pay</button>
    </div>
    <div class="bottom-buttons my-4">
        <button class="btn"><i class="fa fa-angle-double-left mr-2" aria-hidden="true"></i> Back</button>
    </div>
</div>