.descriptionContent {
    height: auto;
    width: 400px;
}

.descriptionContent h5 {
    color: #F18B2D;
    font-weight: bold;
}

@media(max-width:575px) {
    .descriptionContent {
        width: 100%;
    }
}